<app-header-bottom>
  <div class="container title col-md-4 py-5 ml-5"> 
    <div class="col-sm-12">
      <h1 class="font-weight-light text-uppercase">Sucursal
      <span class="font-weight-extrabold">OpenDoor</span></h1>
      <hr class="col-2 mx-0 my-1">
    </div>
  </div>
</app-header-bottom>
<app-search></app-search>
<section>
  <div class="bg-light">
      <div class="container-fluid d-flex align-items-center">
        <div class="container col-lg-4 col-md-6 py-5 ml-lg-5"> 
          <div class="col-sm-12">
              <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase">Desde 1990</h3>
            </div>
            <div class="col-sm-12">
              <h3 class="font-weight-extrabold text-center text-md-left brown-text text-uppercase">Junto a usted</h3>
            </div>
          <p class="col-sm-12  text-md-left text-center brown-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aperiam obcaecati quas repellat quisquam consectetur explicabo dignissimos.</p>
        </div>
    <div class="col-md-8 d-none d-md-block">
    </div>
      </div>
    </div>
  <div class="container-fluid">
    <div class="container  py-5 "> 
          <div class="col-sm-12 d-flex justify-content-center">
              <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase">Información <span class="font-weight-extrabold">de contacto</span></h3>
          </div>
          <div class="row">
            <div class="col-md-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 11.svg" class="img-fluid" alt="">
            </div>
              <h5 class="text-brown text-center font-weight-bold">ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus similique pla</h5>
          </div>
            <div class="col-md-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 12.svg" class="img-fluid" alt="">
            </div>
            <h5 class="text-brown text-center font-weight-bold">+58 4140719316</h5>
          </div>
            <div class="col-md-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 13.svg" class="img-fluid" alt="">
            </div>
            <h5 class="text-brown text-center font-weight-bold">example@correo.com</h5>
          </div>  
          </div>
          </div>
          
  </div>
  <div class="container-fluid bg-light">
      <div class="container  py-5 "> 
            <div class="col-sm-12 d-flex justify-content-center">
                <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase">Formulario <span class="font-weight-extrabold">de contacto</span></h3>
            </div>
            <div class="row">
              <div class="col-sm-12 my-4 d-flex justify-content-center">
                  <div class="card py-3 col-sm-8 w-100" style="height: 50vh;">
                    <form>
                      <div class="group">      
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Name</label>
                      </div>
                      <div class="group">      
                        <input type="text" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                      </div>  
                    </form>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="d-flex justify-content-center">
                 <button class="btn shadow btn-block brown-button text-uppercase font-weight-bold col-lg-6"
                 >Enviar
               </button>
              </div>
             </div>
    </div>
  </div>
</div>
  </section>