<div class="container-fluid">
  <div class="">
    <h3 class="py-5 text-center font-weight-bold">Suscriptores</h3>
    <div class="mb-5">
      <div class="">
        <form
          class="d-flex align-items-center"
          [formGroup]="mForma"
          #vForma="ngForm"
        >
          <div class="w-25 mr-2">
            <button
              class="btn btn-success w-50"
              (click)="activos = !activos"
              [disabled]="activos"
              ngbTooltip="Activos"
              placement="top"
            >
              <i class="fa fa-check"></i>
            </button>
            <button
              class="btn btn-danger w-50"
              (click)="activos = !activos"
              [disabled]="!activos"
              ngbTooltip="Cancelados"
              placement="top"
            >
              <i class="fa fa-remove"></i>
            </button>
          </div>
          <div class="w-50">
            <input
              type="text"
              placeholder="Buscar por email"
              class="form-control ng-untouched ng-pristine ng-valid"
              formControlName="email"
            />
          </div>
          <div class="w-25 ml-2">
            <button
              type="button"
              class="btn btn-success btn-block"
              ngbTooltip="Buscar"
              placement="top"
              [disabled]="mLoading"
              (click)="guardar()"
            >
              Buscar <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="mFormaEstado == enCRUD.Eliminar">
      <div class="row animated fadeIn fast">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <th class="pr-5">#</th>
                <th class="col">Email</th>
              </thead>
              <tbody *ngIf="activos">
                <tr
                  *ngFor="
                    let categoria of mCategorias
                      | paginate: { itemsPerPage: 5, currentPage: p };
                    let i = index
                  "
                  (dblclick)="modificar(categoria)"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ categoria.email }}</td>
                </tr>
              </tbody>
            </table>
            <div class="w-100">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
            <div
              *ngIf="(mCategorias | keys).length === 0 && !mLoading && activos"
              class="alert alert-info"
              role="alert"
            >
              <strong>No existen</strong> Mails que mostrar...
            </div>
            <div *ngIf="!activos" class="alert alert-info" role="alert">
              <strong>No existen</strong> Mails que mostrar...
            </div>
            <div *ngIf="mLoading" class="alert alert-warning" role="alert">
              <strong>Cargando</strong> por favor espere...
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="mFormaEstado == enCRUD.Leer" class="row animated fadeIn fast">
      <div class="col-md-12">
        <form>
          <div class="form-group text-right">
            <button
              (click)="mFormaEstado = enCRUD.Eliminar"
              type="button"
              class="btn btn-primary"
            >
              <i class="fa fa-backward"></i>
              Regresar
            </button>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="mCategoriasSelect.email"
              name="mCategoriasSelect.email"
              readonly
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
