frontend/package-lock.json
frontend/node_modules
frontend/dist/
admin/package-lock.json
registroRuta/src/assets/bower_components
backend/etc
backend/.env
backend/.idea
backend/.DS_Store
backend/storage/
backend/node_modules/

backend/vendor/
.idea/
backend/config/mail.php
backend/public/.DS_Store
backend/public/.htaccess
backend/public/css/
backend/public/favicon.ico
backend/public/fonts/

backend/public/index.php
backend/public/js/
backend/public/robots.txt
backend/public/storage/
!/backend/app/Mail/MailsMasivos.php
.phpintel/
