    
frontend/package-lock.json
admin/package-lock.json
registroRuta/src/assets/bower_components
/backend/etc
/backend/.env
/backend/.idea
/backend/.DS_Store
/backend/storage

/backend/vendor
.idea/
backend/config/mail.php
backend/public/.DS_Store
backend/public/.htaccess
backend/public/css/
backend/public/favicon.ico
backend/public/fonts/

backend/public/index.php
backend/public/js/
backend/public/robots.txt
backend/public/storage/
.idea/workspace.xml
.idea/workspace.xml
