//colors
@import './colors.scss';

//fonts
@import './fonts.scss';

//urls
@import './urls.scss';

html {
	scroll-behavior: smooth;
	
}

body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
}

router-outlet ~ * {
  height: 100%;
  width: 100%;
}


.preloader {
	height: 100vh;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.navigation {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.link-nav {
	display: block;
	padding: 16px;
	font-size: 1rem;
	color: $brown_main_color;
}

.nav-underline {
	position: relative;
}

.nav-underline::before {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: $white;
	transition: 250ms width ease-out;
}

.brown-button {
	background-color: $brown_main_color;
	color: $white;
}

.suscrit {
	background-color: $yellow_main_color;
}
.polygon {
	clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
	// clip-path: polygon(50% 30%, 0 0, 100% 0);
	border: none !important;
}

.row {
	border: none !important;

}

.bg-brown {
	background-color: $brown_main_color;
}

.bg-yellow {
	background-color: $yellow_main_color;
}

.bg-gray {
	background-color: $gray_main_color;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.releases {
	.card-footer{
		background-color: $yellow_main_color;
		color: $white;
	}
}

.brown-text {
	color: $brown_main_color;
}

.yellow-text {
	color: $yellow_main_color;
}

footer {
	background-color: $brown_main_color;
	color: $white;
	hr{
		border-color: $white;
	}
}


.fab {
	color: #fff;
	font-size: 1.5rem;
}

.header-bottom {
	background: linear-gradient(rgba(0, 0, 0,0.8), rgba(0,0,0,0.7)),url("../assets/images/IMAGEN-NOSOTROS.png");
	background-size: inherit;
	background-repeat: no-repeat;
	height: 80vh;
}