//colors
@import './colors.scss';

//fonts
@import './fonts.scss';

//urls
@import './urls.scss';

html {
	scroll-behavior: smooth;
}

body {
	background-color: $white;
}

router-outlet ~ * {
  height: 100%;
  width: 100%;
}


.preloader {
	height: 100vh;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.brown-button {
	background-color: $brown_main_color;
	color: $white;
}

.suscrit {
	background-color: $yellow_main_color;
}

.releases {
	.card-footer{
		background-color: $yellow_main_color;
		color: $white;
	}
}

.brown-text {
	color: $brown_main_color;
}

footer {
	background-color: $brown_main_color;
	color: $white;
	hr{
		border-color: $white;
	}
}
