<div>
  <div class="bg-yellow sec2 pt-4 section-container">
    <div class="col-sm-12 text-white" style="z-index: 2;">
      <h3 class="font-weight-extrabold text-center text-uppercase">Buscador</h3>
      <h5 class="font-weight-light text-center text-uppercase">
        Escuentra el inmueble ideal para tí
      </h5>
    </div>
    <div class="container px-5">
      <div class="row mt-4">
        <div class="col-lg-5 d-flex  px-0">
          <div class="col-lg-6 py-3 mt-auto px-1">
            <label class="col font-weight-extrabold text-uppercase">Tipo Operación:</label>
            <div ngbDropdown class="d-inline-block">
              <input
                type="button"
                class="btn search-dropdown btn-block"
                id="dropdownBasic1"
                [value]="operation.descripcion"
                ngbDropdownToggle
              />
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
                <input
                  type="button"
                  *ngFor="let tipo of tipoOperation"
                  ngbDropdownItem
                  (click)="setTipoOperation(tipo)"
                  [value]="tipo.descripcion"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 py-3 mt-auto px-1">
            <label class="col font-weight-extrabold text-uppercase">Edificación:</label>
            <div ngbDropdown class="d-inline-block">
              <input
                type="button"
                class="btn search-dropdown btn-block"
                id="dropdownBasic1"
                [value]="tipo.descripcion"
                ngbDropdownToggle
              />
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
                <input
                  type="button"
                  *ngFor="let tipoPropiedades of mTipoPropiedad"
                  ngbDropdownItem
                  (click)="setTipo(tipoPropiedades)"
                  [value]="tipoPropiedades.descripcion"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 align-items-center d-md-flex px-0">
          <div class="col-md-4 py-1 col-12 px-1">
            <label class="col  font-weight-extrabold text-uppercase" >Moneda:</label>
            <div ngbDropdown class="d-inline-block">
              <input
                type="button"
                class="btn search-dropdown btn-block"
                id="dropdownBasic1"
                [value]="moneda.moneda"
                ngbDropdownToggle
              />
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
                <input
                  type="button"
                  *ngFor="let moneda of mMonedas"
                  ngbDropdownItem
                  (click)="setMoneda(moneda)"
                  [value]="moneda.moneda"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4 py-1  col-12 px-1">
            <label class="col font-weight-extrabold text-uppercase">Monto Mínimo:</label>
            <div ngbDropdown class="d-inline-block">
              <input type="number" class="btn search-dropdown btn-block" placeholder="Indistinto" [(ngModel)]="selectedMinimo"
                oninput="this.value=this.value.replace(/[^\d+]/,'')" />
            </div>
          </div>
          <div class="col-md-4 py-1 col-12 px-1">
            <label class="col font-weight-extrabold text-uppercase">Monto Máximo:</label>
            <div ngbDropdown class="d-inline-block">
              <input type="number" class="btn search-dropdown btn-block" placeholder="Indistinto" [(ngModel)]="selectedMaximo"
                oninput="this.value=this.value.replace(/[^\d+]/,'')" />
            </div>
          </div>
          
        </div>
      </div>
      <div class="row mt-3">
        <label class="col font-weight-extrabold text-uppercase">Buscar en:</label>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 my-2 my-lg-0 px-1">
          <!-- regiones -->
          <div ngbDropdown class="d-inline-block">
            <input
              type="button"
              class="btn search-dropdown btn-block"
              id="dropdownBasic1"
              [value]="selectedProvince.nombre"
              ngbDropdownToggle
            />
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
              <input
                type="button"
                *ngFor="let province of provinces"
                ngbDropdownItem
                (click)="setProvince(province)"
                [value]="province.nombre"
              />
            </div>
          </div>
        </div>
        <!-- partidos -->
        <div class="col-lg-3 col-6 my-2 my-lg-0 px-1">
          <div ngbDropdown class="d-inline-block">
            <input
              type="button"
              class="btn search-dropdown btn-block"
              id="dropdownBasic1"
              [value]="selectedPartido.nombre"
              ngbDropdownToggle
            />
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
              <input
                type="button"
                *ngFor="let partido of partidos"
                ngbDropdownItem
                (click)="setPartido(partido)"
                [value]="partido.nombre"
              />
            </div>
          </div>
        </div>
        <!-- localidades -->
        <div class="col-lg-3 col-6 my-2 my-lg-0 px-1">
          <div ngbDropdown class="d-inline-block">
            <input
              type="button"
              class="btn search-dropdown btn-block"
              id="dropdownBasic1"
              [value]="selectedLocalidad.nombre"
              ngbDropdownToggle
            />
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
              <input
                type="button"
                *ngFor="let localidad of localidades"
                ngbDropdownItem
                (click)="setLocalidad(localidad)"
                [value]="localidad.nombre"
              />
            </div>
          </div>
        </div>
        <!-- Barrios -->
        <div class="col-lg-3 col-6 my-2 my-lg-0 px-1">
          <div ngbDropdown class="d-inline-block">
            <input
              type="button"
              class="btn search-dropdown btn-block"
              id="dropdownBasic1"
              [value]="selectedBarrio.nombre"
              ngbDropdownToggle
            />
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="overflow-y: scroll;height: 300px;">
              <input
                type="button"
                *ngFor="let barrio of barrios"
                ngbDropdownItem
                (click)="setBarrio(barrio)"
                [value]="barrio.nombre"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-3 col-6 my-2 my-lg-0 px-1">
          <label class="col font-weight-extrabold text-uppercase">Cantidad de habitantes</label>
          <!-- regiones -->
          <div class="d-inline-block">
            <input type="number" class="btn search-dropdown btn-block" id="" [(ngModel)]="habitantes" oninput="this.value=this.value.replace(/[^\d+]/,'')" />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="validateMonto" class="col-sm-12 text-white d-flex justify-content-center py-5">
      <div>
          Debe espeficicar ambos montos (mínimo y máximo)
      </div>
    </div>

    <div class="col-sm-12 text-white d-flex justify-content-center py-5">
      <button
        (click)="searchFilter()"
        class="btn brown-button btn-lg text-uppercase font-weight-bold"
      >
        Buscar información
      </button>
    </div>
    <ng-content select="img"></ng-content>
  </div>
</div>
