
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="py-5 text-center font-weight-bold">Sucursales</h3>
          <button
          (click)="nuevo()"
          type="button"
          class="btn btn-primary"
          class="btn btn-success my-4"
          [disabled]="mFormaEstado == enCRUD.Crear ||  mFormaEstado == enCRUD.Actualizar"
        >
          <i class="fa fa-plus"></i>
         Nuevo
         </button>
        </div>
    </div>


<!-- listado de Sucursales -->
<div  *ngIf="mFormaEstado == enCRUD.Eliminar">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark">

            <th>Nombre</th>
            <th>Numero de Contacto</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Acción</th>
          <!--   <th></th> -->
          </thead>
          <tbody>
            <tr *ngFor="let sucursal of sucursalList; let i = index">

              <td>{{sucursal.nombreSucursal}}</td>
              <td>{{sucursal.telefonoSucursal}}</td>
              <td>{{sucursal.emailSucursal}}</td>
              <td>{{sucursal.direccionSucursal}}</td>
              <td>
                <button
                (click)="ver(sucursal)"
                type="button"
                class="btn mr-2 btn-info"
              >
              <i class="far fa-eye"></i>    
                        </button>
              <button
                (click)="modificar(sucursal)"
                type="button"
                class="btn mr-2 btn-primary"
              >
              <i class="fas fa-pencil-alt"></i>
              </button>
              <button
                (click)="eliminar(sucursal.idSucursal)"
                type="button"
                class="btn mr-2 btn-danger"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
             <!--  <td class="text-right">
                <button (click)="modificar(sucursal)" type="button" class="btn btn-primary">
                  <i class="fa fa-pencil"></i>
                </button>
                <button (click)="eliminar(sucursal)" type="button" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td> -->

            </tr>
          </tbody>
        </table>
        <div
        *ngIf="(sucursalList | keys).length === 0 && !mLoading"
        class="alert alert-info"
        role="alert"
      >
        <strong>No existen</strong> Sucursales que mostrar...
      </div>
      <div *ngIf="mLoading" class="alert alert-warning" role="alert">
        <strong>Cargando</strong> por favor espere...
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="mFormaEstado == enCRUD.Crear ||  mFormaEstado == enCRUD.Actualizar" class="row animated fadeIn fast">
  <div class="col-md-12">
    <form [formGroup]="myForm">
      <div class="form-group text-right">
        <button
          (click)="mFormaEstado = enCRUD.Eliminar"
          type="button"
          class="btn btn-primary"
        >
          <i class="fa fa-backward"></i>
          Regresar
        </button>

        <button
          (click)="nuevo()"
          *ngIf="mFormaEstado == enCRUD.Actualizar"
          style="margin: 5px"
          class="btn btn-primary"
        >
          <i class="fa fa-plus"></i>
          Nuevo
        </button>

        <button
          *ngIf="mFormaEstado == enCRUD.Crear"
          (click)="guardar()"
          [disabled]="!myForm.valid"
          style="margin: 5px"
          class="btn btn-primary"
        >
          <i class="fa fa-save"></i>
          Guardar
        </button>
        <button
        *ngIf="mFormaEstado == enCRUD.Actualizar"
        (click)="actualizar(sucursalSelected.idSucursal)"
        [disabled]="!myForm.valid"
        style="margin: 5px"
        class="btn btn-primary"
      >
        <i class="fa fa-save"></i>
         Modificar
      </button>
      </div>
      <div class="form-group">
        <label for="">Nombre Sucursal</label>
        <input type="input" formControlName="nombreSucursal" class="form-control"
          placeholder="Escriba El Nombre de la Sucursal">
        <small class="errorText" *ngIf="myForm.get('nombreSucursal').invalid">Es requerido</small>
      </div>
      <div class="form-group">
        <label for="">Número de Contacto</label>
        <input type="input" formControlName="telefonoSucursal" class="form-control"
          placeholder="Escriba El Nombre de la Sucursal">
        <small class="errorText" *ngIf="myForm.get('telefonoSucursal').hasError('required')">Es requerido <br>
        </small>
        <small class="errorText" *ngIf="myForm.get('telefonoSucursal').hasError('pattern')">Sólo Dígitos </small>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="input" formControlName="emailSucursal" class="form-control"
          placeholder="Escriba El Nombre de la Sucursal">
        <small class="errorText" *ngIf="myForm.get('emailSucursal').hasError('required')">Es requerido <br></small>
        <small class="errorText" *ngIf="myForm.get('emailSucursal').hasError('email')">Debe ser email.</small>
      </div>
      <div class="form-group">
        <label for="">Dirección</label>
        <textarea formControlName="direccionSucursal" class="form-control" placeholder="Escriba La Dirección"></textarea>
        <small class="errorText" *ngIf="myForm.get('direccionSucursal').invalid">Es requerido</small>
      </div>
        <!--
        <div
          *ngIf="mForma.controls['name'].errors?.password"
          class="alert alert-danger"
          role="alert"
        >
          email es requerido
        </div>-->
    </form>
  </div>
</div>

  <div *ngIf="mFormaEstado == enCRUD.Leer" class="row animated fadeIn fast">
    <div class="col-md-12">
      <form>
        <div class="form-group text-right">
          <button
            (click)="mFormaEstado = enCRUD.Eliminar"
            type="button"
            class="btn btn-primary"
          >
            <i class="fa fa-backward"></i>
            Regresar
          </button>
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input
            class="form-control"
            type="text"
            [value]="sucursalSelected.nombreSucursal"
            name="sucursalSelected.nombreSucursal"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input
            class="form-control"
            type="text"
            [value]="sucursalSelected.nombreSucursal"
            name="sucursalSelected.nombreSucursal"
            readonly
          />
        </div>
  
        <div class="form-group">
          <label for="">Email</label>
          <input
            class="form-control"
            type="text"
            [value]="sucursalSelected.emailSucursal"
            name="sucursalSelected.emailSucursal"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="">Descripcion</label>
          <textarea
            class="form-control"
            type="text"
            [value]="sucursalSelected.direccionSucursal"
            name="sucursalSelected.direccionSucursal"
            readonly
          ></textarea>
        </div>
      </form>
    </div>
  </div>
</div>