 <section id="header-bottom" class="header-bottom text-white align-items-center w-100 d-flex justify-contend-between">
        <div class="container col-md-4 py-5 ml-5"> 
                <div class="col-sm-12">
                    <h1 class="font-weight-light text-uppercase">Nombre de
                    <span class="font-weight-bold">la propiedad</span></h1>
                  </div>
                <p class="col-sm-12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aperiam obcaecati quas repellat quisquam consectetur explicabo dignissimos.</p>
                <button class="col-md-6 mx-3 btn white-button text-white">Ver Mas</button>
              </div>
        <div class="container d-flex justify-content-end mr-5">
            <ul class="nav flex-column">
            <li class="facebook my-2"><a href="#" data-toggle="tooltip" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="twitter my-2"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="instagram my-2"><a href="#" data-toggle="tooltip" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="linkedin my-2"><a href="#" data-toggle="tooltip" title="Youtube"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
  </section>
  <div class="bg-yellow polygon py-3">
        <div class="col-sm-12 text-white">
                <h1 class="font-weight-bold text-center text-uppercase">Buscador</h1>
                <h3 class="font-weight-light text-center">Escuentra el inmueble ideal para ti</h3>
            </div>
        </div>
