<div class="d-none d-md-block">
  <section id="header-bottom" class="header-bottom text-white d-flex align-items-center">
    <div class="container  ">
      <div class="row d-flex justify-content-between">
        <div class="d-flex flex-row justify-content-between">
          <div class="p-1">
            <a href="https://www.facebook.com/smartdevsgt" target="_blank"><img src="assets/img/Iconos-Header/Facebook-Header.svg" class="mr-1 h-100 w-50"></a>
          </div>
          <div class="p-1">
            <a href="https://www.instagram.com/smartdevsgt" target="_blank"><img src="assets/img/Iconos-Header/Instagram-Header.svg" class="mr-1 h-100 w-50"></a>
          </div>
          <div class="p-1">
            <a href="https://twitter.com/smartdevsgt" target="_blank"><img src="assets/img/Iconos-Header/Twitter-Header.svg" class="mr-1 h-100 w-50"></a>
          </div>
          <div class="p-1">
            <a href="https://github.com/smart-devs-gt" target="_blank"><img src="assets/img/Iconos-Header/Github-Header.svg" class="mr-1 h-100 w-50"></a>
          </div>
        </div>
        <div>
          <a href="#demos"><img src="assets/img/Fecha-Arriba/Fecha-Arriba.svg" class="arrow" alt=""></a>
        </div>
        <p>Desplazar hacia abajo</p>
      </div>
    </div>
  </section>
</div>
