

.sec2{
	width:100%;
	position: relative;
}

.sec2:before{
	content: '';
	width: 50%;
	height: 150px;
	position: absolute;
	z-index: 0;
	left: 0;
	background: white;
	bottom:-48px;
	transform: skewY(5deg);
}

.sec2:after{
	content: '';
	width: 50%;
	height:150px;
	position: absolute;
	z-index: 0;
	right: 0;
	background: white;
	bottom:-48px;
	transform: skewY(-5deg);
}
.section-container {
    padding-bottom: 8rem!important;

}
.articulos {
  &-container {
    height: 1840px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  &-content {
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  &-infoFiltro {
    p {
      margin-bottom: 12px;
      padding-left: 10px;
    }
    width: 90%;
    margin: 40px 0 30px 0;
    border-bottom: 2px solid;
    display: flex;
  }

  &-article {
    flex: 3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-infotitle {
    margin-bottom: 13px;
    font-size: 13px;
    font-weight: bold;
  }

  /*&-card {
    max-height: 395px;
   width: 29.5%;
    display: flex;
    flex-direction: column;
    margin: 0 2px;
     min-width: 161px; 
    margin-bottom: 25px;
    height: 433px;
  }*/

  &-image {
    flex: 3;
    min-height: 250px;
    max-height: 250px;
  }

  &-info {
    flex: 1.5;
    background: #f3f4ef;
    font-size: 14px;
    font-weight: bold;
    min-height: 125px;
    max-height: 125px;
  }

  &-precios {
    flex: 1.5;
    background: #e4b405;
    max-height: 100px;
    min-height: 100px;
  }

  &-title2 {
    padding: 3px 5px 3px 13px;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: white;
  }

  &-subtitle3 {
    padding: 10px;
    font-size: 13px;

    &:first-child {
      padding-bottom: 0px;
    }
  }

  &-subtitle {
    font-size: 17px;
    color: white;
    font-weight: bold;
    padding: 0px 13px;
    padding-bottom: 14px;
  }

  &-filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 200px;
  }

  &-filterTitle {
    font-size: 18px;
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: 100%;
    text-align: right;
  }

  &-filterSections {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  // seccion de filtrado

  &-filteritems {
    padding: 0px 10px;
    &:nth-child(1) {
      width: 100%;
      text-align: right;
    }

    &:nth-child(2) {
      width: 71%;
      text-align: right;
    }
  }

  &-relevante {
    width: 100%;
    text-align: right;
    padding-bottom: 40px;

    .title {
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px solid;
      padding-bottom: 9px;
      color: #00000091;
    }

    .textContent {
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
      padding-top: 15px;
    }

    .textContent2 {
      padding-top: 15px;
      font-size: 14px;
      //display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      font-weight: bold;
      cursor: pointer;
      
      max-height: 100px;
      overflow: scroll;
    }

    .icon {
      font-size: 39px;
      /* height: 15px; */
      display: flex;
      align-items: flex-end;
      /* position: relative; */
      /* top: 8px; */
      color: #e4b405;
      font-weight: normal;
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "filters goHome";
}

.filters {
  grid-area: filters;
  display: flex;
}

.goHome {
  grid-area: goHome;
  cursor: pointer;
}
.goHome:hover {
  color: #e4b405;
}

mat-chip {
  border-radius: 5px !important;
  height: auto;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #e4b405;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.autotext{
  white-space: nowrap;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}