<div class="articulos-container">
  <h3 id="resultados-busqueda">RESULTADOS DE BUSQUEDA</h3>
  <div class="articulos-infoFiltro grid-container">
    <div class="filters">
      <div class="articulos-infotitle">
        {{ verifyStringOrObject() }}
      </div>
    </div>
    <span (click)="goBack()" class="goHome">Volver al home</span>
  </div>
  <div class="articulos-content">
    <div class="articulos-filter" *ngIf="!propiedadesInPromise">
      <div class="articulos-filterTitle">60 resultados</div>

      <div class="articulos-filterSections">
        <div *ngFor="let item of filtro2" class="articulos-filteritems">
          {{ item }}
        </div>
      </div>
      <div class="articulos-relevante">
        <div class="title">
          Ordenar por Publicaciones
        </div>
        <div class="textContent">
          mas relevantes
          <i class="material-icons icon">
            keyboard_arrow_down
          </i>
        </div>
      </div>

      <div class="articulos-relevante">
        <div class="title">
          Zonas
        </div>
        <div class="textContent2">
          <div *ngFor="let item of recomendation">
            Countries B Cerrado(15)
          </div>
        </div>
      </div>

      <div class="articulos-relevante">
        <div class="title">
          Precio
        </div>
        <div class="textContent2">
          <div *ngFor="let item of recomendation">
            Countries B Cerrado(15)
          </div>
        </div>

        <div class="textContent">
          maximos
          <i class="material-icons icon">
            keyboard_arrow_down
          </i>
          minimo
          <i class="material-icons icon">
            keyboard_arrow_down
          </i>
        </div>
      </div>

      <div class="articulos-relevante">
        <div class="title">
          Mas Especificaciones
        </div>
        <div class="textContent">
          alberca(10)
        </div>
      </div>
    </div>

    <!-- inmuebles -->
    <div class="articulos-article">
      <div class="row" style="width: 100%" *ngIf="propiedadesInPromise">
        <div class="col-lg-12 d-flex justify-content-center my-2">
          <div class="spinner-border main-spinner m-5" role="status" style="color: #39211F; width: 6rem; height: 6rem;">
            <span class="sr-only">Cargando...</span>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="(!articulos || articulos.length <=0) && !propiedadesInPromise" style="width: 100%">
        <div class="col" style="text-align: center">
          <h3>
            No existen productos que cumplan con las propiedades del buscador.
          </h3>
        </div>
      </div>

      <div class="row" style="padding-left: 20px; width: 100%" *ngIf="!propiedadesInPromise">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 " *ngFor="let item of articulos">
          <div class="articulos-image">
            <img [src]="item.imagenes.imagen_para_galeria" [alt]="item.titulo" width="100%" height="250px"
              style="max-height: 250px;" onerror="this.src='assets/images/no_image_aviable.jpg'" />
          </div>
          <div class="articulos-precios">
            <div class="articulos-title2">
              {{item.precio | number:'1.2-2'}}
              <span *ngIf="item.tipo_moneda && item.tipo_moneda.idMonedas && item.tipo_moneda.idMonedas == 1">
                $ARS
              </span>
              <span *ngIf="item.tipo_moneda && item.tipo_moneda.idMonedas && item.tipo_moneda.idMonedas == 2">
                $USD
              </span>
              <span *ngIf="item.tipo_moneda && item.tipo_moneda.idMonedas && item.tipo_moneda.idMonedas == 3">
                $UYU
              </span>
            </div>
            <div class="articulos-subtitle">
              {{item.titulo}}
            </div>
          </div>

          <div class="articulos-info">
            <div class="articulos-subtitle3">
              <span style="font-size: 15px">
                <b>{{item.tipo_propiedad.descripcion}}</b>
              </span> <br>
              En {{item.tipo_opeacion.descripcion}}

            </div>
            <div class="articulos-subtitle3">
              <span *ngIf="item.sub_barrio && item.sub_barrio.nombre">
                {{item.sub_barrio.nombre}} -
              </span>
              <span *ngIf="item.barrio && item.barrio.nombre">
                {{item.barrio.nombre}} -
              </span>
              <span *ngIf="item.localidad && item.localidad.nombre">
                {{item.localidad.nombre}} -
              </span>
              <span *ngIf="item.partido && item.partido.nombre">
                {{item.partido.nombre}} -
              </span>
              <span *ngIf="item.provincia && item.provincia.nombre">
                {{item.provincia.nombre}}
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>