<div class="container-fluid next-blog-background">
  <div class="container next-blog d-flex justify-content-between text-white mt-5 d-flex align-items-center">
    <a  class="d-flex col-md-4 col-lg-3 justify-content-around"><img class="my-auto mr-auto mr-md-0  arrow" src="../../assets/img/Iconos-Header/Fecha-Botones-Header.svg" alt=""  style="width: 0.8rem;"><span class="d-none d-md-block">Artículo Anterior</span></a>
      <div class="container col-lg-4 d-none d-lg-block d-lg-flex justify-content-around">
          <button class="btn btn-lg contact-button btn-primary">
              1
             </button>
             <button class="btn btn-lg contact-button btn-primary" disabled>
                2
               </button>
               <button class="btn btn-lg contact-button btn-primary" disabled>
                  3
                 </button>
                 <button class="btn btn-lg contact-button btn-primary" disabled>
                    4
                   </button>
                   <button class="btn btn-lg contact-button btn-primary" disabled>
                      5
                     </button>
                    </div>
      <a  class="d-flex col-md-4  col-lg-3 justify-content-around"><span class="d-none d-md-block">Siguiente Artículo</span><img class="my-auto ml-auto ml-md-0" src="../../assets/img/Iconos-Header/Fecha-Botones-Header.svg" alt=""  style="width: 0.8rem;"></a>
      </div>
    </div>