<section class="pb-5 pt-3">
  <div class="container">
      <div class="row"> 
          <div class="col-md-12 my-4">         
            <h4 class="mb-4 title blog-span"><ng-content></ng-content></h4>
          </div>
        </div>
       <div class="row"> 
              <div class="related-articles d-flex">         
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>
                      <a><img src="../assets/img/test-2.png" alt="" class="px-2"></a>                        
                  </div>

            </div>
      </div>
</section>