<div class="card mt-4 row" style="overflow-x:hidden;">
  <div class="card-body">
    <div [formGroup]="myForm" class="col-12">
      <div class="form-group">
        
        <input type="input" formControlName="email" class="form-control" placeholder="Escriba El Correo">
        <small *ngIf="myForm.get('email').invalid" >Es requerido</small><br>
        <small *ngIf="myForm.get('email').invalid" >Debe ser correo electronico</small>
      </div>
    </div>
  </div>
  <div class="row mb-4 px-4">
    <div class="col-3 ml-auto text-center">
      <button class="btn btn-danger" (click)="close()">Cancelar</button>
    </div>
    <div class="col-3 text-center">
      <button class="btn btn-success"  (click)="add()">Añadir</button>
    </div>
  </div>

</div>