<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="py-5 text-center font-weight-bold">Mails a Suscriptores</h3>
      <div class="mb-5" *ngIf="mFormaEstado == enCRUD.Eliminar">
        <div class="">
          <form [formGroup]="filterForm" *ngIf="mFormaEstado == enCRUD.Eliminar" class="d-flex align-items-center">
            <div class="w-25 mr-2">
              <button class="btn btn-success btn-block" type="button" (click)="nuevo()" ngbTooltip="Nuevo" placement="top">
                <i class="fa fa-plus"></i> Nuevo
              </button>
            </div>
            <div class="w-50">
              <input class="form-control ng-untouched ng-pristine ng-valid" formControlName="filter" placeholder="Buscar por título, descripción"
                type="text">
            </div>
            <div class="w-25 ml-2">
              <button class="btn btn-success btn-block" type="button" (click)="filter()" [disabled]="mLoading" ngbTooltip="Buscar" placement="top">
                Buscar <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mFormaEstado == enCRUD.Eliminar">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark ">
              <th class="d-flex justify-content-center">#</th>
              <th>Título</th>
              <th>Descripción</th>
              <th>Acción</th>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of mCategorias| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td class="d-flex justify-content-center">
                  {{ categoria.idSuscripcionUser }}
                </td>
                <td>{{ categoria.titulo }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td class="float-right">
                  <button
                    (click)="ver(categoria)"
                    type="button"
                    class="btn btn-info m-2"
                  >
                    <i class="far fa-eye"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="w-100">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div
            *ngIf="(mCategorias | keys).length === 0 && !mLoading"
            class="alert alert-info"
            role="alert"
          >
            <strong>No existen</strong> Mails que mostrar...
          </div>
          <div *ngIf="mLoading" class="alert alert-warning" role="alert">
            <strong>Cargando</strong> por favor espere...
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mFormaEstado == enCRUD.Crear" class="row animated fadeIn fast">
    <div class="col-md-12">
      <form [formGroup]="mForma" #vForma="ngForm">
        <div class="form-group text-right">
          <button
            (click)="mFormaEstado = enCRUD.Eliminar"
            type="button"
            class="btn btn-primary m-2"
          >
            <i class="fa fa-backward"></i>
            Regresar
          </button>

          <button
            (click)="nuevo()"
            *ngIf="mFormaEstado == enCRUD.Actualizar"
            class="btn btn-primary m-2"
          >
            <i class="fa fa-plus"></i>
            Nuevo
          </button>
          <!-- [disabled]="!vForma.valid" -->
          <button
            *ngIf="mFormaEstado == enCRUD.Crear"
            (click)="onSubmit()"
            class="btn btn-primary m-2"
          >
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
        <div class="form-group">
          <label for="">Título</label>
          <input
            class="form-control"
            type="text"
            formControlName="titulo"
            placeholder="Título del Mail"
          />
          <div *ngIf="f.titulo.errors" type="alert" class="invalid-feedback d-block">
            <div *ngIf="submitted && f.titulo.errors.required">El título es Requerido</div>
            <div *ngIf="f.titulo.errors.minlength">Mínimo de 5 caracteres</div>
          </div>
        </div>

        <div class="form-group">
          <label for="">Descripción</label>
          <textarea
            class="form-control"
            placeholder="Descripción"
            type="text"
            formControlName="descripcion"
          ></textarea>
          <div *ngIf="f.descripcion.errors" type="alert" class="invalid-feedback d-block">
            <div *ngIf="submitted && f.descripcion.errors.required">La descripción es Requerida</div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="mFormaEstado == enCRUD.Leer" class="row animated fadeIn fast">
    <div class="col-md-12">
      <form>
        <div class="form-group text-right">
          <button
            (click)="mFormaEstado = enCRUD.Eliminar"
            type="button"
            class="btn btn-primary m-2"
          >
            <i class="fa fa-backward"></i>
            Regresar
          </button>
        </div>
        <div class="form-group">
          <label for="">Título</label>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="mCategoriasSelect.titulo"
            name="mCategoriasSelect.titulo"
            readonly
          />
        </div>

        <div class="form-group">
          <label for="">Descripción</label>
          <textarea
            class="form-control"
            type="text"
            [(ngModel)]="mCategoriasSelect.descripcion"
            name="mCategoriasSelect.descripcion"
            readonly
          ></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
