
<footer>
<div class="container py-5 d-md-flex justify-content-between">
  <div class="col-lg-4 my-5 my-md-1 mx-0 mx-md-3"><h5>NOSOTROS</h5>
  <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo tenetur officiis nisi similique repellat debitis tempora, tempore quae voluptas. Cum dolores eligendi repellendus facere sequi! Perspiciatis minima ducimus excepturi.</p>
  </div>
  <div class="col-lg-4 my-5 my-md-1 mx-0 mx-md-3"><h5>LINKS</h5>
  <ul class="p-0">
    <li><img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/">HOME</a></li>
    <div class="dropdown-divider"></div>
    <li> <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/nosotros">NOSOTROS</a></li>
    <div class="dropdown-divider"></div>
    <li> <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/oportunidades">OPORTUNIDADES</a></li>
    <div class="dropdown-divider"></div>
    <li> <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/sucursales">SUCURSALES</a></li>
  </ul>
  </div>
  <div class="col-lg-4 my-5 my-md-1 mx-0 mx-md-3"><h5>CONTACTO</h5>
  <ul class="p-0">
    <li class="my-3 d-flex align-items-center"><div><img src="../../../../../assets/images/icons/Recurso 28.svg" class="mr-2 footer-contact-icons" alt=""></div><span>ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus similique pla</span></li>
    <li class="my-3 d-flex"><img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">+58 4140719316</li>
    <li class="my-3 d-flex"><img src="../../../../../assets/images/icons/Recurso 27.svg" class="mr-2 footer-contact-icons" alt="">example@correo.com</li>
  </ul>
  </div>
</div>
<div class="divider container py-3 d-flex align-items-center justify-content-center">
  <hr class="col-4 d-none d-md-block">
          <ul class="nav col-md-3 d-flex justify-content-around">
              <li class="facebook my-2"><a href="#" data-toggle="tooltip" title="Facebook"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 5.svg"></a></li>
              <li class="twitter my-2"><a href="#" data-toggle="tooltip" title="Twitter"></a><img class="social-icon" src="../../../../../assets/images/icons/Recurso 4.svg"></li>
              <li class="instagram my-2"><a href="#" data-toggle="tooltip" title="Instagram"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 3.svg"></a></li>
              <li class="linkedin my-2"><a href="#" data-toggle="tooltip" title="Youtube"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 5.svg" ></a></li>
             </ul>
  <hr class="col-4 d-none d-md-block">
  </div>
</footer>
