
<footer class="sec2">
<div class="container section-container pb-3 d-md-flex justify-content-between font-weight-semibold">
  <div class="col-lg-4 my-5 my-md-1 mx-0 mx-md-3"><h5 class="font-weight-bold">Sucursales</h5>
 <!--  <p class="my-3">{{mCategoria.configGeneral?.quienesSomos}}</p> -->
 <p class="my-1">Contacto Sede Pilar</p>
 <ul class="p-0">
  <li class="my-1 d-flex align-items-center">
    <a style="color: white;" href="mailto:{{mSucusales[0].emailSucursal}}">
    <img src="../../../../../assets/images/icons/Recurso 28.svg" class="mr-2 footer-contact-icons" alt=""><span>{{mSucusales[0].emailSucursal}}</span>
  </a></li>
 <!-- <li class="my-1 d-flex">
    <a style="color: white;" href="https://api.whatsapp.com/send?phone={{mSucusales[0].telefonoSucursal}}&text=Hola,%20necesito%20hacerte%20la%20una%20consulta.">
    <img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">{{mSucusales[0].telefonoSucursal}}
    </a>
  </li>-->
  <li class="my-1 d-flex">
    <a style="color: white;" href="tel:{{mSucusales[0].telefonoSucursal}}">
    <img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">{{mSucusales[0].telefonoSucursal}}
  </a>
  </li>
</ul>
 <p class="my-1">Contacto Sede Open Door</p>
 <ul class="p-0">
  <li class="my-1 d-flex align-items-center">
    <a style="color: white;" href="mailto:{{mSucusales[1].emailSucursal}}">
    <img src="../../../../../assets/images/icons/Recurso 28.svg" class="mr-2 footer-contact-icons" alt=""><span>{{mSucusales[1].emailSucursal}}</span>
  </a></li>
   <!--<li class="my-1 d-flex">
    <a style="color: white;" href="https://api.whatsapp.com/send?phone={{mSucusales[1].telefonoSucursal}}&text=Hola,%20necesito%20hacerte%20la%20una%20consulta.">
    <img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">{{mSucusales[1].telefonoSucursal}}
    </a>
  </li>-->
  <li class="my-1 d-flex">
    <a style="color: white;" href="tel:{{mSucusales[1].telefonoSucursal}}">
    <img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">{{mSucusales[1].telefonoSucursal}}
  </a>
  </li>
</ul>
  </div>
  <div class="col-lg-4 my-5 my-md-1 mx-0 mx-md-3"><h5 class="font-weight-bold">LINKS</h5>
  <ul class="p-0">
    <li><img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/">HOME</a></li>
    <div class="dropdown-divider"></div>
    <li> <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/nosotros">NOSOTROS</a></li>
    <div class="dropdown-divider"></div>
    <li> <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a class="text-white" routerLink="/oportunidades">OPORTUNIDADES</a></li>
    <div class="dropdown-divider"></div>
    <li> <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt=""><a [routerLinkActive]="['active-route']" ngbDropdown class="">
      <span ngbDropdownToggle class="text-white">
           SUCURSALES
            <div ngbDropdownMenu class="m-0 p-0 brown-text" aria-labelledby="dropdownBasic1">
              <ng-container *ngFor="let sucursal of mSucusales">
              <button class="text-uppercase" [routerLinkActive]="'active'" [routerLink]="[baseUrl,sucursal.idSucursal]" ngbDropdownItem>{{sucursal.nombreSucursal}}</button>
              <div class="dropdown-divider m-0 p-0 m-0 p-0"></div>
            </ng-container>
            </div>
        </span>
        <div class="dropdown-divider"></div>
    </a></li>
    <li>
      <img src="../../../../../assets/images/icons/Recurso 26.svg" class="mr-2 footer-icons" alt="">
      <a (click)="openModal()" class="">
        <span class="text-white" style="cursor: pointer; text-transform:uppercase;">Tasaciones</span>
      </a>
      
    </li>
  </ul>
  </div>
  <div class="col-lg-4 my-5 my-md-1 mx-0 mx-md-3"><h5 class="font-weight-bold">CONTACTO</h5>
  <ul class="p-0">
    <li class="my-3 d-flex align-items-center"><a style="color: white;" href="https://www.google.com/maps?q={{mCategoria.configGeneral?.direccion}}"><img src="../../../../../assets/images/icons/Recurso 28.svg" class="mr-2 footer-contact-icons" alt=""><span>{{mCategoria.configGeneral?.direccion}}</span></a></li>
    <li class="my-3 d-flex"><a style="color: white;" href="tel:{{mCategoria.configGeneral?.celular1}}"><img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">{{mCategoria.configGeneral?.celular1}}</a></li>
    <!--<li class="my-3 d-flex"><a style="color: white;" href="tel:{{mCategoria.configGeneral?.celular2}}"><img src="../../../../../assets/images/icons/Recurso 29.svg" class="mr-2 footer-contact-icons" alt="">{{mCategoria.configGeneral?.celular2}}</a></li>-->
    <li class="my-3 d-flex"><a style="color: white;" href="mailto:{{mCategoria.configGeneral?.correo}}"><img src="../../../../../assets/images/icons/Recurso 27.svg" class="mr-2 footer-contact-icons" alt="">{{mCategoria.configGeneral?.correo}}</a></li>
  </ul>
  </div>
</div>
<div class="divider container py-3 d-flex align-items-center justify-content-center">
  <hr class="col-4 d-none d-md-block">
          <ul class="nav col-md-3 d-flex justify-content-around">
              <li *ngIf="mCategoria.configGeneral?.url_face" class="facebook my-2"><a [href]="mCategoria.configGeneral?.url_face" data-toggle="tooltip" target="_blank" title="Facebook"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 5.svg"></a></li>
              <!--<li *ngIf="mCategoria.configGeneral?.url_twitter" class="twitter my-2"><a [href]="mCategoria.configGeneral?.url_twitter" data-toggle="tooltip" target="_blank" title="Twitter"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 4.svg"></a></li>-->
              <li *ngIf="mCategoria.configGeneral?.url_intagram" class="instagram my-2"><a [href]="mCategoria.configGeneral?.url_intagram" data-toggle="tooltip" target="_blank" title="Instagram"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 3.svg"></a></li>
              <li *ngIf="!mCategoria.configGeneral?.url_face && !mCategoria.configGeneral?.url_twitter && !mCategoria.configGeneral?.url_intagram " class="instagram my-2" style="text-align: center;">
                No existen redes sociales registradas
              </li>
          </ul>
  <hr class="col-4 d-none d-md-block">
  </div>
V 1.0.8
</footer>
