<div class="bg-brown sec2">
  <section class="releases section-container bg-white polygon" id="releases">
      <div class="container">
        <div class="row d-flex justify-content-center mx-5">
            <ng-content></ng-content>
        </div>
        <div style="overflow-x: scroll; z-index: 100;" class="container list d-flex py-5 mx-auto">
            <div class="col-md-4 p-4">
                <div class="card">
                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" routerLink="buscador/detail" class="card-img-top">
                    <div class="card-footer font-weight-semibold text-uppercase ">
                        urbanización olivos
                    </div>
                    </div>
                  </div>
            <div class="col-md-4 p-4">
              <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-2.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase">
                  agua clara
                </div>
              </div>
            </div>
            <div class="col-md-4 p-4">
              <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-3.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase">
                 la lagunita
                </div>
              </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="card">
                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" routerLink="buscador/detail" class="card-img-top">
                    <div class="card-footer font-weight-semibold text-uppercase ">
                        urbanización olivos
                    </div>
                    </div>
                  </div>
            <div class="col-md-4 p-4">
              <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-2.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase">
                  agua clara
                </div>
              </div>
            </div>
            <div class="col-md-4 p-4">
              <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-3.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase">
                 la lagunita
                </div>
              </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="card">
                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" routerLink="buscador/detail" class="card-img-top">
                    <div class="card-footer font-weight-semibold text-uppercase ">
                        urbanización olivos
                    </div>
                    </div>
                  </div>
            <div class="col-md-4 p-4">
              <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-2.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase">
                  agua clara
                </div>
              </div>
            </div>
            <div class="col-md-4 p-4">
              <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-3.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase">
                 la lagunita
                </div>
              </div>
            </div>
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase ">
                    urbanización olivos
                </div>
                </div>
              </div>
        <div class="col-md-4 p-4">
          <div class="card">
            <img src="../../../../assets/images/GALERIA-HOME-2.jpg" routerLink="buscador/detail" class="card-img-top">
            <div class="card-footer font-weight-semibold text-uppercase">
              agua clara
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <div class="card">
            <img src="../../../../assets/images/GALERIA-HOME-3.jpg" routerLink="buscador/detail" class="card-img-top">
            <div class="card-footer font-weight-semibold text-uppercase">
             la lagunita
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
</div>

