<div class="bg-brown">
  <section class="py-5 releases bg-white polygon" id="releases">
      <div class="container">
        <div class="row d-flex justify-content-center mx-5">
            <ng-content></ng-content>
        </div>
        <div class="row py-5 mx-auto">
        <div class="col-md-4 p-4">
            <div class="card">
                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" routerLink="buscador/detail" class="card-img-top">
                <div class="card-footer font-weight-semibold text-uppercase ">
                    urbanización olivos
                </div>
                </div>
              </div>
        <div class="col-md-4 p-4">
          <div class="card">
            <img src="../../../../assets/images/GALERIA-HOME-2.jpg" routerLink="buscador/detail" class="card-img-top">
            <div class="card-footer font-weight-semibold text-uppercase">
              agua clara
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <div class="card">
            <img src="../../../../assets/images/GALERIA-HOME-3.jpg" routerLink="buscador/detail" class="card-img-top">
            <div class="card-footer font-weight-semibold text-uppercase">
             la lagunita
            </div>
          </div>
        </div>
        </div>
      </div>
    
    </section>
</div>
