<div class="bg-brown sec2">
      <section class="releases section-container bg-white polygon section-component-bottom" id="releases">
          <div class="container">
            <div class="row d-flex justify-content-center mx-5">
              <h3 class="mb-4 brown-text font-weight-extrabold text-uppercase">Busquedas frecuentes</h3>
            </div>
            <div style="overflow-x: scroll; z-index: 100;" class="container list d-flex py-4 mx-auto">
              <div class="col-12">
                <div class="card-columns">
                    <div class="card" [routerLink]="[baseUrl]">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card" [routerLink]="[baseUrl]">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                             <div class="card" [routerLink]="[baseUrl]">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card" [routerLink]="[baseUrl]">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                            <div class="card" [routerLink]="[baseUrl]">
                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                <div class="card-footer font-weight-semibold text-uppercase " >
                                    urbanización olivos
                                </div>
                                </div>
                                <div class="card" [routerLink]="[baseUrl]">
                                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                    <div class="card-footer font-weight-semibold text-uppercase " >
                                        urbanización olivos
                                    </div>
                                    </div>
                                    <div class="card" [routerLink]="[baseUrl]">
                                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                        <div class="card-footer font-weight-semibold text-uppercase " >
                                            urbanización olivos
                                        </div>
                                        </div>
                                        <div class="card" [routerLink]="[baseUrl]">
                                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                            <div class="card-footer font-weight-semibold text-uppercase " >
                                                urbanización olivos
                                            </div>
                                            </div>
                                            <div class="card" [routerLink]="[baseUrl]">
                                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                                <div class="card-footer font-weight-semibold text-uppercase " >
                                                    urbanización olivos
                                                </div>
                                                </div>
                      </div>
            </div>
            <div class="col-12">
                <div class="card-columns">
                    <div class="card" [routerLink]="[baseUrl]">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card" [routerLink]="[baseUrl]">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                             <div class="card" [routerLink]="[baseUrl]">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card" [routerLink]="[baseUrl]">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                            <div class="card" [routerLink]="[baseUrl]">
                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                <div class="card-footer font-weight-semibold text-uppercase " >
                                    urbanización olivos
                                </div>
                                </div>
                                <div class="card" [routerLink]="[baseUrl]">
                                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                    <div class="card-footer font-weight-semibold text-uppercase " >
                                        urbanización olivos
                                    </div>
                                    </div>
                                    <div class="card" [routerLink]="[baseUrl]">
                                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                        <div class="card-footer font-weight-semibold text-uppercase " >
                                            urbanización olivos
                                        </div>
                                        </div>
                                        <div class="card" [routerLink]="[baseUrl]">
                                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                            <div class="card-footer font-weight-semibold text-uppercase " >
                                                urbanización olivos
                                            </div>
                                            </div>
                                            <div class="card" [routerLink]="[baseUrl]">
                                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                                <div class="card-footer font-weight-semibold text-uppercase " >
                                                    urbanización olivos
                                                </div>
                                                </div>
                      </div>
            </div>
            <div class="col-12">
                <div class="card-columns">
                    <div class="card" [routerLink]="[baseUrl]">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card" [routerLink]="[baseUrl]">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                             <div class="card" [routerLink]="[baseUrl]">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card" [routerLink]="[baseUrl]">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                            <div class="card" [routerLink]="[baseUrl]">
                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                <div class="card-footer font-weight-semibold text-uppercase " >
                                    urbanización olivos
                                </div>
                                </div>
                                <div class="card" [routerLink]="[baseUrl]">
                                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                    <div class="card-footer font-weight-semibold text-uppercase " >
                                        urbanización olivos
                                    </div>
                                    </div>
                                    <div class="card" [routerLink]="[baseUrl]">
                                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                        <div class="card-footer font-weight-semibold text-uppercase " >
                                            urbanización olivos
                                        </div>
                                        </div>
                                        <div class="card" [routerLink]="[baseUrl]">
                                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                            <div class="card-footer font-weight-semibold text-uppercase " >
                                                urbanización olivos
                                            </div>
                                            </div>
                                            <div class="card" [routerLink]="[baseUrl]">
                                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                                <div class="card-footer font-weight-semibold text-uppercase " >
                                                    urbanización olivos
                                                </div>
                                                </div>
                      </div>
            </div>
                  
            </div>
          </div>
        </section>
    </div>
    
    
<!---
    <div class="container">
      <div class="row">
      <div class="col-lg-3">
          <p class="text-right mb-0">60 Resultados</p>
          <hr class="my-1">
          <p class="text-right mb-0">Ordenar Publicaciones</p>
          <hr class="my-1">
          <div ngbDropdown class="d-inline-block mt-1 mb-4">
                  <button class="btn search-dropdown btn-block" id="dropdownBasic1" ngbDropdownToggle>Mas Relevantes</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                  </div>
                </div>
          <p class="text-right mb-0">Zonas</p>
          <hr class="my-1">
          <p class="text-right mb-0">Precio</p>
          <hr class="my-1">
          <div ngbDropdown class="d-inline-block mt-1 mb-4">
                  <button class="btn search-dropdown btn-block" id="dropdownBasic1" ngbDropdownToggle>Mínimo</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                  </div>
                </div>
                <span>|</span>
                <div ngbDropdown class="d-inline-block mt-1 mb-4">
                      <button class="btn search-dropdown btn-block" id="dropdownBasic1" ngbDropdownToggle>Máximo</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>Action - 1</button>
                        <button ngbDropdownItem>Another Action</button>
                        <button ngbDropdownItem>Something else is here</button>
                      </div>
                    </div>
      </div>
      <div class="col-lg-9">
          
      </div>
  </div>
  </div>

  -->