<div class="bg-brown sec2">
      <section class="releases section-container bg-white polygon section-component-bottom" id="releases">
          <div class="container">
            <div class="row d-flex justify-content-center mx-5">
              <h3 class="mb-4 brown-text font-weight-extrabold text-uppercase">Busquedas frecuentes</h3>
            </div>
            <div style="overflow-x: scroll; z-index: 100;" class="container list d-flex py-4 mx-auto">
              <div class="col-12">
                <div class="card-columns">
                    <div class="card">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                             <div class="card">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                            <div class="card">
                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                <div class="card-footer font-weight-semibold text-uppercase " >
                                    urbanización olivos
                                </div>
                                </div>
                                <div class="card">
                                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                    <div class="card-footer font-weight-semibold text-uppercase " >
                                        urbanización olivos
                                    </div>
                                    </div>
                                    <div class="card">
                                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                        <div class="card-footer font-weight-semibold text-uppercase " >
                                            urbanización olivos
                                        </div>
                                        </div>
                                        <div class="card">
                                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                            <div class="card-footer font-weight-semibold text-uppercase " >
                                                urbanización olivos
                                            </div>
                                            </div>
                                            <div class="card">
                                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                                <div class="card-footer font-weight-semibold text-uppercase " >
                                                    urbanización olivos
                                                </div>
                                                </div>
                      </div>
            </div>
            <div class="col-12">
                <div class="card-columns">
                    <div class="card">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                             <div class="card">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                            <div class="card">
                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                <div class="card-footer font-weight-semibold text-uppercase " >
                                    urbanización olivos
                                </div>
                                </div>
                                <div class="card">
                                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                    <div class="card-footer font-weight-semibold text-uppercase " >
                                        urbanización olivos
                                    </div>
                                    </div>
                                    <div class="card">
                                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                        <div class="card-footer font-weight-semibold text-uppercase " >
                                            urbanización olivos
                                        </div>
                                        </div>
                                        <div class="card">
                                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                            <div class="card-footer font-weight-semibold text-uppercase " >
                                                urbanización olivos
                                            </div>
                                            </div>
                                            <div class="card">
                                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                                <div class="card-footer font-weight-semibold text-uppercase " >
                                                    urbanización olivos
                                                </div>
                                                </div>
                      </div>
            </div>
            <div class="col-12">
                <div class="card-columns">
                    <div class="card">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                             <div class="card">
                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                        <div class="card-footer font-weight-semibold text-uppercase " >
                            urbanización olivos
                        </div>
                        </div>
                        <div class="card">
                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                            <div class="card-footer font-weight-semibold text-uppercase " >
                                urbanización olivos
                            </div>
                            </div>
                            <div class="card">
                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                <div class="card-footer font-weight-semibold text-uppercase " >
                                    urbanización olivos
                                </div>
                                </div>
                                <div class="card">
                                    <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                    <div class="card-footer font-weight-semibold text-uppercase " >
                                        urbanización olivos
                                    </div>
                                    </div>
                                    <div class="card">
                                        <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                        <div class="card-footer font-weight-semibold text-uppercase " >
                                            urbanización olivos
                                        </div>
                                        </div>
                                        <div class="card">
                                            <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                            <div class="card-footer font-weight-semibold text-uppercase " >
                                                urbanización olivos
                                            </div>
                                            </div>
                                            <div class="card">
                                                <img src="../../../../assets/images/GALERIA-HOME-1.jpg" class="card-img-top">
                                                <div class="card-footer font-weight-semibold text-uppercase " >
                                                    urbanización olivos
                                                </div>
                                                </div>
                      </div>
            </div>
                  
            </div>
          </div>
        </section>
    </div>
    
