<app-header-bottom>
    <div class="container title col-md-4 py-5 ml-md-5"> 
        <div class="col-sm-12">
          <h1 class="font-weight-light text-uppercase">Nombre de
          <span class="font-weight-extrabold">la propiedad</span></h1>
        </div>
        <p class="col-sm-12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aperiam obcaecati quas repellat quisquam consectetur explicabo dignissimos.</p>
          <button class="col-md-6 mx-3 btn white-button text-white">Ver Más</button>
    </div>
</app-header-bottom>
<app-search>
    <img src="../../../../assets/images/icons/Recurso 6.svg" class="position-absolute d-none d-md-block" style="bottom: -5%;" alt="">
</app-search>
<app-services></app-services>
<app-suscrit></app-suscrit>
<app-propiertys-list>
    <h3 class="mb-4 brown-text font-weight-extrabold text-uppercase">Novedades</h3>
</app-propiertys-list>

