<app-propiertys-carousel
  *ngIf="galeriaHome?.length > 0"
></app-propiertys-carousel>
<app-search>
  <img
    *ngIf="galeriaHome?.length > 0"
    src="../../../../assets/images/icons/Recurso 6.svg"
    class="position-absolute d-none d-md-block"
    style="top: -120px; z-index: 1;"
    alt=""
  />
</app-search>

<div *ngIf="searchClicked">
  <app-articles></app-articles>
</div>

<div *ngIf="!searchClicked">
  <app-services></app-services>
  <app-suscrit></app-suscrit>
  <app-propiertys-list>
    <h3 class="mb-4 brown-text font-weight-extrabold text-uppercase">
      Novedades
    </h3>
    <span *ngIf="!totalNovedades > 0">No existen novedades</span>
    <ng-container *ngFor="let publicaciones of mCategorias">
      <div *ngIf="publicaciones.esUnaNovedad == '1'" class="col-md-4 col-9 p-4">
        <div [routerLink]="[baseUrl, publicaciones.idPropiedad]" class="card">
          <img
            [src]="publicaciones.imagenes.imagen1"
            class="card-img-top"
            style="max-height: 230px; min-height:230px; height: 100%"
            onerror="this.src='assets/images/no_image_aviable.jpg'"
          />
          <!--<div class="card-footer font-weight-semibold text-uppercase ">
            {{ publicaciones.descipcion }}
          </div>-->
           <div class="articulos-precios">
                <div class="articulos-title2">
                    {{publicaciones.precio | number:'1.2-2'}}
                    <span
                        *ngIf="publicaciones.tipo_moneda && publicaciones.tipo_moneda.idMonedas && publicaciones.tipo_moneda.idMonedas == 1">
                        $ARS
                    </span>
                    <span
                        *ngIf="publicaciones.tipo_moneda && publicaciones.tipo_moneda.idMonedas && publicaciones.tipo_moneda.idMonedas == 2">
                        $USD
                    </span>
                    <span
                        *ngIf="publicaciones.tipo_moneda && publicaciones.tipo_moneda.idMonedas && publicaciones.tipo_moneda.idMonedas == 3">
                        $UYU
                    </span>
                </div>
                <div class="articulos-subtitle">
                    {{publicaciones.titulo}}
                </div>
            </div>
           </div>
           <div class="articulos-info">
                                    <div *ngIf="publicaciones.tipo_propiedad.descripcion && publicaciones.tipo_opeacion.descripcion"
                                        class="articulos-subtitle3">
                                        <span style="font-size: 15px">
                                            <b>{{publicaciones.tipo_propiedad.descripcion}}</b>
                                        </span> <br>
                                        En {{publicaciones.tipo_opeacion.descripcion}}

                                    </div>

                                    <div class="articulos-subtitle3">
                                       <span *ngIf="publicaciones.Direccion_Nombrecalle">
                                            {{publicaciones.Direccion_Nombrecalle}} 
                                      </span>
                                      <span *ngIf="publicaciones.Direccion_Numero">
                                              {{publicaciones.Direccion_Numero}} 
                                      </span>
                                      <br>
                                        <span *ngIf="publicaciones.sub_barrio && publicaciones.sub_barrio.nombre">
                                            {{publicaciones.sub_barrio.nombre}} -
                                        </span>
                                        <span *ngIf="publicaciones.barrio && publicaciones.barrio.nombre">
                                            {{publicaciones.barrio.nombre}} -
                                        </span>
                                        <span *ngIf="publicaciones.localidad && publicaciones.localidad.nombre">
                                            {{publicaciones.localidad.nombre}} -
                                        </span>
                                        <span *ngIf="publicaciones.partido && publicaciones.partido.nombre">
                                            {{publicaciones.partido.nombre}} -
                                        </span>
                                        <span *ngIf="publicaciones.provincia && publicaciones.provincia.nombre">
                                            {{publicaciones.provincia.nombre}}
                                        </span>
                                    </div>
                                </div>
           </div>
    </ng-container>
  </app-propiertys-list>
</div>
