<app-propiertys-carousel
  *ngIf="galeriaHome?.length > 0"
></app-propiertys-carousel>
<app-search>
  <img
    *ngIf="galeriaHome?.length > 0"
    src="../../../../assets/images/icons/Recurso 6.svg"
    class="position-absolute d-none d-md-block"
    style="top: -120px; z-index: 1;"
    alt=""
  />
</app-search>

<div *ngIf="searchClicked">
  <app-articles></app-articles>
</div>

<div *ngIf="!searchClicked">
  <app-services></app-services>
  <app-suscrit></app-suscrit>
  <app-propiertys-list >
    <h3 class="mb-4 brown-text font-weight-extrabold text-uppercase">
      Novedades
    </h3>
    <span *ngIf="!totalNovedades > 0">No existen novedades</span>
    <ng-container *ngFor="let publicaciones of mCategorias">
      <div *ngIf="publicaciones.esUnaNovedad == '1'" class="col-md-4 col-9 p-4">
        <div [routerLink]="[baseUrl, publicaciones.idPropiedad]" class="card">
          <img [src]="publicaciones.imagen1" class="card-img-top"  style="max-height: 230px; height: 100%" onerror="this.src='assets/images/no_image_aviable.jpg'"/>
          <div class="card-footer font-weight-semibold text-uppercase ">
            {{ publicaciones.descipcion }}
          </div>
        </div>
      </div>
    </ng-container>
  </app-propiertys-list>
</div>
