<section class="py-5 releases" id="releases">
  <div class="container">
    <div class="row d-flex justify-content-center">
        <h1 class="mb-4">NOVEDADES</h1>
    </div>
    <div class="row py-5 mx-auto">
    <div class="col-md-4 p-4">
      <div class="card">
        <img src="assets/img/Iconos-Servicios/Grupo-185.svg" class="w-50 servicios-imagen">
        <div class="card-footer">
            urbanización olivos
        </div>
      </div>
    </div>
    <div class="col-md-4 p-4">
      <div class="card">
        <img src="assets/img/Iconos-Servicios/Cloud-Servers.svg" class="w-50 servicios-imagen">
        <div class="card-footer">
          agua clara
        </div>
      </div>
    </div>
    <div class="col-md-4 p-4">
      <div class="card">
        <img src="assets/img/Iconos-Servicios/Desarrollo-de-App-Movil.svg" class="w-50 servicios-imagen">
        <div class="card-footer">
         la lagunita
        </div>
      </div>
    </div>
    </div>
  </div>

</section>