<section class="py-5 services text-white" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="mb-4 title"><span>Servicios</span></h4>
        <h6 class="sub-title">Integración con sistemas implementaciones de soluciones inteligentes.</h6>
      </div>
    </div>
    <div class="row py-5">
    <div class="col-6 col-md-3 p-4">
      <div class="text-center">
        <img src="assets/img/Iconos-Servicios/Grupo-185.svg" class="w-50 servicios-imagen">
        <h5 class="mt-3">
          Diseño UI/UX
        </h5>
      </div>
    </div>
    <div class="col-6 col-md-3 p-4">
      <div class="text-center">
        <img src="assets/img/Iconos-Servicios/Cloud-Servers.svg" class="w-50 servicios-imagen">
        <h5 class="mt-3">
          Cloud Servers
        </h5>
      </div>
    </div>
    <div class="col-6 col-md-3 p-4">
      <div class="text-center">
        <img src="assets/img/Iconos-Servicios/Desarrollo-de-App-Movil.svg" class="w-50 servicios-imagen">
        <h5 class="mt-3">
          Desarrollo de App Móvil
        </h5>
      </div>
    </div>
    <div class="col-6 col-md-3 p-4">
      <div class="text-center">
        <img src="assets/img/Iconos-Servicios/Desarrollo-de-Desktop.svg" class="w-50 servicios-imagen">
        <h5 class="mt-3">
          Desarrollo de Software
        </h5>
      </div>
    </div>
      <div class="col-6 col-md-3 p-4">
        <div class="text-center">
          <img src="assets/img/Iconos-Servicios/Analisis-de-Software.svg" class="w-50 servicios-imagen">
          <h5 class="mt-3">
            Analisis de Software
          </h5>
        </div>
      </div>
      <div class="col-6 col-md-3 p-4">
        <div class="text-center">
          <img src="assets/img/Iconos-Servicios/Desarrollo-de-App-Web.svg" class="w-50 servicios-imagen">
          <h5 class="mt-3">
            Desarrollo Web
          </h5>
        </div>
      </div>
      <div class="col-6 col-md-3 p-4">
        <div class="text-center">
          <img src="assets/img/Iconos-Servicios/Grupo-186.svg" class="w-50 servicios-imagen">
          <h5 class="mt-3">
            Inteligencia Artificial
          </h5>
        </div>
      </div>
      <div class="col-6 col-md-3 p-4">
        <div class="text-center">
          <img src="assets/img/Iconos-Servicios/Grupo-187.svg" class="w-50 servicios-imagen">
          <h5 class="mt-3">
            IoT
          </h5>
        </div>
      </div>
    </div>
  </div>

</section>