<section id="demos">
  <div class="bg-light ">
      <div class="container-fluid sec2  bg-white polygon ">
        <div class="container">
            <div class="row pb-5 flex-column">
                <div class="mx-auto my-3">
                    <img class="d-none d-md-block" src="../../../../assets/images/logo.png" style="width: 180px;" alt="">
                  </div>
                <div class="d-flex justify-content-center col-sm-12">
                  <h3 class="font-weight-light brown-text text-center text-uppercase">Trayectoria y Prestigio</h3>
                </div>
                <div class="d-flex justify-content-center col-sm-12">
                  <h3 style=" z-index: 101;" class="font-weight-extrabold brown-text text-center text-uppercase">Por más de 30 Años</h3>
                </div>
            </div>
        </div>
      </div>
    </div>
  <div class="container-fluid bg-light polygon d-flex align-items-center sec3">
    <div class="featured-box container col-lg-4 col-md-6 py-5"> 
          <div class="col-sm-12">
              <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase">Destacados y</h3>
            </div>
            <div class="col-sm-12">
              <h3 class="font-weight-extrabold text-center text-md-left brown-text text-uppercase">oportunidades</h3>
            </div>
          <p class="col-sm-12  text-md-left text-center brown-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aperiam obcaecati quas repellat quisquam consectetur explicabo dignissimos.</p>
          <button routerLink="/oportunidades" class="col-md-6 mx-3 btn brown-button">Ver Más</button>
        </div>
    <div class="col-md-8 d-none d-md-block">
          <img style=" z-index: 102;" src="../../../../assets/images/IMAGEN-HOME.png" class="img-fluid position-sticky" alt="">
    </div>
  </div>
</section>