.form-control-lg {
    height: calc(2.1em + 1rem + 2px);
    }

input {
    border-radius: 0;
}

@media (min-width: 998px){
    .featured-box{
        height: 420px;
    }
    .sec2{
        width:100%;
        position: relative;
    }
    
    .sec2:before{
        content: '';
        width: 50%;
        height: 150px;
        position: absolute;
        left: 0;
        z-index: 100;
        background: white;
        bottom:-48px;
        transform: skewY(5deg);
    }
    
    .sec2:after{
        content: '';
        width: 50%;
        height:150px;
        position: absolute;
        right: 0;
        z-index: 100;
        background: white;
        bottom:-48px;
        transform: skewY(-5deg);
    }
    
    .sec3{
        width:100%;
        position: relative;
    }
    
    .sec3:before{
        content: '';
        width: 50%;
        height: 150px;
        position: absolute;
        z-index: 103;
        left: 0;
        background: #E4B405;
        bottom:-48px;
        transform: skewY(5deg);
    }
    
    .sec3:after{
        content: '';
        width: 50%;
        height:150px;
        position: absolute;
        z-index: 103;
        right: 0;
        background: #E4B405;
        bottom:-48px;
        transform: skewY(-5deg);
    }
}
