<section class="comments pt-5 pb-2 blog-background">
  <div class="container">
     <div class="row"> 
         <div class="col-md-12 my-4">         
           <h4 class="mb-4 title blog-span"> <span>Comentarios</span> </h4>
         </div>
       </div>
       <div class="row"> 
     <div  *ngFor="let comentario of mComentario;" class="container blog-comment py-2">
         <div class="d-flex align-items-center" >
         <img src="../../assets/img/user-icon.jpg" alt="" class="blog-comment-icon">
         <div class="flex-column ml-3">
             <div class="d-md-flex blog-author" >
           <h4>{{comentario.usuario}}</h4>
           <button class="btn-primary ml-md-3"> Responder </button>
             </div>
           <div class="d-flex pt-3 pt-md-0"><p class="blog-author-date mr-2">{{comentario.created_at|date:"mediumDate" }} </p><span class="d-none d-sm-block">-</span><p class="ml-2 blog-author-date">{{ comentario.created_at | date:'shortTime' }}</p></div>
         </div>
       </div>
       <div class="comment container pl-3 pl-md-4 ml-lg-5 pl-lg-5"><p>{{comentario.comentario}}</p></div>
   </div>
   <div class="reply-container">
   <div class="container blog-comment-reply py-2">
       <div class="d-flex align-items-center" >
       <img src="../../assets/img/user-icon.jpg" alt="" class="blog-comment-icon">
       <div class="flex-column ml-3">
           <div class="d-md-flex blog-author" >
         <h4 class="">Wladimir Hernández</h4>
         <button class="btn-primary ml-md-3"> Responder </button>
           </div>
         <div class="d-flex pt-3 pt-md-0"><p class="blog-author-date mr-2">Mzo 13, 2019 </p><span class="d-none d-sm-block">-</span><p class="ml-2 blog-author-date">9:47 PM</p></div>
       </div>
     </div>
     <div class="comment container pl-3 pl-md-4 ml-lg-5 pl-lg-5"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos placeat nobis nostrum, earum quam quo voluptatibus quasi ipsa, aut mollitia impedit non rem nihil odit magni, esse iure maiores dolore!</p></div>
 </div>
</div>
</div>
</div>
</section>
<app-send-comment></app-send-comment>