<app-propiertys-carousel *ngIf="galeriaHome?.length > 0"></app-propiertys-carousel><app-search>
  <img *ngIf="galeriaHome?.length > 0" src="../../../../assets/images/icons/Recurso 6.svg" class="position-absolute d-none d-md-block"
    style="top: -20%; z-index: 1;" alt="" />
</app-search>
<!--<app-header-bottom>
    <div class="container title col-md-4 py-5 ml-5"> 
        <div class="col-sm-12">
          <h1 class="font-weight-light text-uppercase">Oportunidades</h1>
        </div>
    </div>
</app-header-bottom>-->
<app-search>
  <img *ngIf="galeriaHome?.length > 0" src="../../../../assets/images/icons/Recurso 6.svg"
    class="position-absolute d-none d-md-block" style="top: -20%; z-index: 1;" alt="" />
</app-search>

<div *ngIf="searchClicked">
  <app-articles></app-articles>
</div>

<div *ngIf="!searchClicked">
  <app-propiertys-grid>
    <h3 class="mb-4 brown-text font-weight-extrabold text-uppercase">Oportunidades</h3>
    <ng-container *ngFor="let publicaciones of mCategorias; let i = index" [attr.data-index]="i">
      <div *ngIf="publicaciones.esUnaPropiedad == '1'" class="col-md-4 col-9 p-4">
        <div  [routerLink]="[baseUrl,publicaciones.idPropiedad]" class="card">
          <img [src]="publicaciones.imagen1" class="card-img-top">
          <div class="card-footer font-weight-semibold text-uppercase " >
              {{ publicaciones.descipcion }}
          </div>
        </div>
      </div>
    </ng-container>
  </app-propiertys-grid>
</div>