<div class="modal-header" style="background-color: #39211F;color: white;font-weight: bold;">
  <h4 class="modal-title">Tasaciones</h4>
  <button style="margin-top: 9px;
  background-color: #39211f;
  margin-right: 28px;" type="button" class="position-absolute close-button text-white" (click)="activeModal.dismiss('Cross click')">
    <span>&times;</span>
  </button>
</div>
<div class="transaction-modal modal-body bg-yellow text-white">
    <div class="container position-relative font-weight-semibold">
    <form [formGroup]="contactForm">
        <div *ngIf="!hideForm" class="row">
        
      <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-12">
              <label for="exampleFormControlSelect1" class="text-uppercase">Nombre y apellido</label>
              <div class="form-group mb-3">
                  <input formControlName="nombre_apellido" type="text" [ngClass]="{ 'is-invalid': submitted && f.nombre_apellido.errors }" class="form-control form-control-lg" placeholder="Nombre y Apellido"
                  aria-describedby="basic-addon1">
                  <div *ngIf=" f.nombre_apellido.errors" type="alert" class="invalid-feedback">
                      <div *ngIf="submitted && f.nombre_apellido.errors.required">Nombre y Apellido son Requerido</div>
                      <div *ngIf="f.nombre_apellido.errors.pattern">Debe ingresar únicamente caracteres alfabéticos</div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="exampleFormControlSelect1" class="text-uppercase">Email</label>
              <div class="form-group mb-3">
                  <input formControlName="email" type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control form-control-lg" placeholder="correo@correo.com"
                  aria-describedby="basic-addon1">
                  <div *ngIf="f.email.errors" type="alert" class="invalid-feedback">
                      <div *ngIf="submitted && f.email.errors.required">El Email es Requerido</div>
                      <div *ngIf="f.email.errors.email">Colocal email que cumpla con las siguientes características: testing@gmail.com</div>
                  </div>
            </div>
          </div>
            <div class="col-sm-6">
              <label for="exampleFormControlSelect1" class="text-uppercase">Teléfono</label>
              <div class="form-group mb-3">
                <input formControlName="telefono" type="text" oninput="this.value=this.value.replace(/[^\d+]/,'')" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" class="form-control form-control-lg" minlength="9" maxlength="14" placeholder="Teléfono / Celular"
                  aria-describedby="basic-addon1">
                  <div *ngIf="f.telefono.errors" type="alert" class="invalid-feedback">
                      <div *ngIf="f.telefono.errors.pattern">Ingrese un número de teléfono válido</div>
                      <div *ngIf="submitted && f.telefono.errors.required">El Teléfono es Requerido</div>
                  </div>
                </div>
              </div>
            <div class="col-sm-12">
              <label for="exampleFormControlSelect1" class="text-uppercase">TIPO DE OPERACIÓN</label>
              <div class="form-group mb-3">
                <select formControlName="fk_tipoPropiedad" [ngClass]="{ 'is-invalid': submitted && f.fk_tipoPropiedad.errors }"
                  class="form-control form-control-lg">
                  <option value="">Selecciona un tipo de operación</option>
                  <option *ngFor="let categoria of mCategorias" type="number" [value]="categoria.idTipoTasaccion">{{categoria.descripcion}}</option>
                </select>
                <div *ngIf="f.fk_tipoPropiedad.errors" type="alert" class="invalid-feedback">
                  <div *ngIf="submitted && f.fk_tipoPropiedad.errors.required">El tipo de operación de la propiedad es Requerida</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <label for="exampleFormControlSelect1" class="text-uppercase">Dirección</label>
              <div class="form-group mb-3">
                <input formControlName="direccion" type="text" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" class="form-control form-control-lg" placeholder="Dirección"
                  aria-describedby="basic-addon1">
                  
                  <div *ngIf="f.direccion.errors" type="alert" class="invalid-feedback">
                      <div *ngIf="submitted && f.direccion.errors.required">La dirección es Requerido</div>
                  </div>
              </div>
            </div>
            <div class="col-sm-12">
              <label for="exampleFormControlSelect1" class="text-uppercase">Descripción</label>
              <div class="form-group mb-3">
                <textarea formControlName="descripcion" name="" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" cols="20"
                  rows="2" placeholder="Descripción" class="form-control form-control-lg"></textarea>
                <div *ngIf="f.descripcion.errors" type="alert" class="invalid-feedback">
                  <div *ngIf="submitted && f.descripcion.errors.required">La Descripción es Requerida</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
            <label for="exampleFormControlSelect1" class="text-uppercase">Adjuntar Fotos</label>
            <div class="row">
              <div class="form-group mb-3 col-md-6">
                <input type="file" (change)="onFileChange($event,'imagen_1')" class="form-file form-control form-control-lg" placeholder="file1.jpg">
                <div class="invalid-feedback d-block text-success text-center ng-star-inserted" *ngIf="image1.upload">Imagen cargada satisfactoriamente</div>
                <div class="invalid-feedback d-block text-center ng-star-inserted" *ngIf="image1.format" >Solo jpeg,png,jpg,gif,svg son soportados</div>
              </div>
              <div class="form-group mb-3 col-md-6">
                <input type="file" (change)="onFileChange($event,'imagen_2')" class="form-file form-control form-control-lg" placeholder="file1.jpg">
                <div class="invalid-feedback d-block text-success text-center ng-star-inserted" *ngIf="image2.upload">Imagen cargada satisfactoriamente</div>
                <div class="invalid-feedback d-block text-center ng-star-inserted" *ngIf="image2.format">Solo jpeg,png,jpg,gif,svg son
                  soportados</div>
              </div>
            </div>
            </div>
          </div>          
          <button  (click)="onSubmit()" class="btn font-weight-bold btn-lg btn-block col-lg-5 text-uppercase mx-auto brown-button">Enviar</button> 
       </div> 
      </div>
    </form>
<div *ngIf="mLoading" class="row">
    <div class="col-lg-12 d-flex justify-content-center my-2">
      <div class="spinner-border main-spinner m-5" role="status" style="color: #39211F; width: 6rem; height: 6rem;">
        <span class="sr-only">Enviando...</span>
      </div>
    </div>
  </div>
  <div *ngIf="successMensaje" class="row">
      <div class="col-lg-12 my-2">
        <h3 class="text-center mt-3 font-weight-bold">¡La solicitud se registró con éxito!</h3>
        <p class="mb-5 text-center font-weight-bold">En breve nos estaremos contactando</p>
        <button (click)="submittedClose() ; activeModal.close('Close click')"  class="btn brown-button btn-lg mx-auto btn-block col-lg-5" type="button" data-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>
    <div *ngIf="errorMensaje" class="row">
        <div class="col-lg-12 my-2">
          <h3 class="text-center mt-3 font-weight-bold">Ocurrió un error al enviar la solicitud</h3>
          <p class="mb-5 text-center font-weight-bold">Por favor intete nuevamente</p>
          <button (click)="reintentar()"  class="btn brown-button btn-lg mx-auto btn-block col-lg-5">Volver</button>
        </div>
      </div>
</div>
</div>
