<ngb-carousel >
    <ng-template ngbSlide>
      <img src="../../../../../assets/images/BANNER-2" class="carousel-image" alt="Random slide">
      <div class="carousel-caption d-flex align-items-center">
        
          <div class="position-relative text-white align-items-center w-100 d-flex justify-contend-between">  
              <div class="container title col-md-8 col-lg-6 col-12 py-5 d-flex flex-column align-items-start"> 
                  <div class="col-sm-12 text-md-left">
                    <h1 class="font-weight-light text-uppercase">Nombre de
                    <span class="font-weight-extrabold">la propiedad</span></h1>
                  </div>
                  <p class="col-sm-12 text-md-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aperiam obcaecati quas repellat quisquam consectetur explicabo dignissimos.</p>
                    <button class="col-md-6 mx-3 btn white-button text-white">Ver Más</button>
              </div>    
              <div class="container d-flex justify-content-end mr-5 ">
                  <ul class="nav flex-column d-none d-md-block">
                      <li class="facebook my-2"><a href="#" data-toggle="tooltip" title="Facebook"><img class="social-icon" src="../../../../assets/images/icons/Recurso 5.svg"></a></li>
                      <li class="twitter my-2"><a href="#" data-toggle="tooltip" title="Twitter"></a><img class="social-icon" src="../../../../assets/images/icons/Recurso 4.svg"></li>
                      <li class="instagram my-2"><a href="#" data-toggle="tooltip" title="Instagram"><img class="social-icon" src="../../../../assets/images/icons/Recurso 3.svg"></a></li>
                      <li class="linkedin my-2"><a href="#" data-toggle="tooltip" title="Youtube"><img class="social-icon" src="../../../../assets/images/icons/Recurso 5.svg" ></a></li>
                </ul>
              </div>
            </div>
      </div>
    </ng-template>
  </ngb-carousel>


  