<ngb-carousel >
    <ng-template ngbSlide>
      <img src="../../../../../assets/images/BANNER-2" alt="Random slide">
      <div class="carousel-caption">
                <h1 class="font-weight-light text-uppercase text-left">Casa en Alquiler</h1>
                <hr class="col-1 mx-0 mt-1 mb-4" style="border-bottom: 2px solid white;">
                <h1 class="font-weight-extrabold text-uppercase text-left">2500$</h1>
                <div class="container d-flex py-4 justify-content-center galery-image">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-1.jpg" alt="">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-2.jpg" alt="">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-3.jpg" alt="">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-1.jpg" alt="">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-2.jpg" alt="">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-3.jpg" alt="">
                  <img src="../../../../../assets/images/GALERIA-DETALLE-1.jpg" alt="">
                </div>
      </div>
    </ng-template>
  </ngb-carousel>
  