<aside class="main-sidebar">

  <section class="sidebar">

    <div class="user-panel" style="height: 60px;">
      <h5 *ngIf="!hideUser" style="color:white; padding:5px;">{{dataUser.userName}}</h5>
      <div class="pull-left image">
      </div>
      <div class="pull-left info">

      </div>
    </div>

    <ul class="sidebar-menu" data-widget="tree">
      <!-- ///////////////// -->
  <!--     <li class="treeview">
          <a routerLink="/perfil">
            <i class="fa fa-circle-o"></i> <span>Dashboard</span>
  
          </a>
  
        </li> -->
      <li class="treeview">
        <a routerLink="/gestionar-usuarios">
          <i class="fa fa-users"></i> <span>Gestión de Usuarios</span>

        </a>

      </li>

      <li class="treeview">
        <a routerLink="/galeria-home">
          <i class="fa fa-users"></i> <span>Galería Home</span>

        </a>

      </li>

        <li class="treeview">
            <a routerLink="/sucursales">
              <i class="fas fa-building"></i> <span>Sucursales</span>
    
            </a>
    
          </li>
          <li class="treeview">
            <a routerLink="/suscribers">
              <i class="fas fa-send"></i> <span>Suscriptores</span>
    
            </a>
    
          </li>
          <li class="treeview">
            <a routerLink="/mail-suscribers">
              <i class="fas fa-send"></i> <span>Mails a Suscriptores</span>
    
            </a>
    
          </li>
          <li class="treeview">
              <a routerLink="/gestionar-publicaciones">
                <i class="fas fa-building"></i> <span> Gestión de Publicaciones</span>
      
              </a>
      
            </li>
            <li class="treeview">
              <a routerLink="/config-footer">
                <i class="fas fa-tools"></i> <span>Configuración General</span>
      
              </a>
      
            </li>




      <li class="header">LOGHOME</li>
    </ul>
  </section>

</aside>



<!-- <aside class="main-sidebar">
 
    <section class="sidebar">
  
      <div class="user-panel" style="height: 60px;">
          <h5 *ngIf="!hideUser" style="color:white; padding:5px;">{{dataUser.userName}}</h5>
        <div class="pull-left image">
        </div>
        <div class="pull-left info">

        </div>
      </div>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENÚ</li>
        <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-globe"></i> <span >MAPA</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/Mapa"><i class="fa fa-circle-o"></i>Pedidos</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span >USUARIOS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/gestionar-usuarios"><i class="fa fa-circle-o"></i> Gestión de Usuarios</a></li>
          </ul>
        </li>

        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span >CONFIGURACIÓN</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/Galeria"><i class="fa fa-circle-o"></i>  Slides y Galería</a></li>
            <li><a routerLink="/Videos"><i class="fa fa-circle-o"></i>  Vídeos</a></li>
            <li><a routerLink="/config-footer"><i class="fa fa-circle-o"></i>  General</a></li>
            <li><a routerLink="/config-color"><i class="fa fa-circle-o"></i>  Color</a></li>
            <li><a routerLink="/config-redes"><i class="fa fa-circle-o"></i>  Redes</a></li>
            <li><a routerLink="/preguntas-frecuentes"><i class="fa fa-circle-o"></i> Preguntas Frecuentes</a></li>          
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-product-hunt"></i>
            <span >PRODUCTOS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">     

            <li><a routerLink="/galery-product"><i class="fa fa-circle-o"></i> Marcas Destacadas </a></li>
            <li><a routerLink="/destacados"><i class="fa fa-circle-o"></i> Destacados</a></li>
            <li><a routerLink="/ofertas"><i class="fa fa-circle-o"></i> Ofertas</a></li>                  
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span >SECCIONES</span>
            <span class=" tree pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a routerLink="/categoria-blog"><i class="fa fa-circle-o"></i> Categorías de Blog </a></li>
              <li><a routerLink="/blog"><i class="fa fa-circle-o"></i> Notas del Blogs </a></li>
              <li><a routerLink="/clasificados"><i class="fa fa-circle-o" mattooltip ></i> Clasificados L. Adheridos</a></li>
              <li><a routerLink="/locales-adheridos"><i class="fa fa-circle-o"></i> Locales Adheridos</a></li> 
              <li><a routerLink="/turno"><i class="fa fa-circle-o"></i> Turnos </a></li>              
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-database"></i>
            <span >DATOS/MÉTRICAS</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a routerLink="/clasificadoReclamo"><i class="fa fa-circle-o"></i> Clasificados de Reclamos </a></li>
              <li><a routerLink="/reclamos-sugerencias"><i class="fa fa-circle-o"></i> Reclamos y Sugerencias</a></li>
              <li><a routerLink="/suscriptores"><i class="fa fa-circle-o"></i> Suscripciones </a></li>             
          </ul>
        </li>        


        <li class="treeview">
          <a href="#">
            <i class="fa fa-mobile" style="font-size:1.4em;"></i>
            <span  >APP</span>   
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/Cupones"><i class="fa fa-circle-o"></i>Cupones</a></li>
            <li><a routerLink="/Notificaciones"><i class="fa fa-circle-o"></i>Notificaciones</a></li>
          </ul>
        </li>

        <li class="header">LOGHOME</li>
        </ul>
    </section>

  </aside> -->