<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="py-5 text-center font-weight-bold" *ngIf="mFormaEstado == enCRUD.Eliminar">
        Sucursales
      </h3>
      <h3 class="py-5 text-center font-weight-bold" *ngIf="mFormaEstado == enCRUD.Crear">
        Nueva Sucursal
      </h3>
      <h3 class="py-5 text-center font-weight-bold" *ngIf="mFormaEstado == enCRUD.Actualizar">
        Actualizar Sucursal
      </h3>
      <div class="mb-5" *ngIf="mFormaEstado != enCRUD.Crear && mFormaEstado != enCRUD.Actualizar">
        <div class="">
          <form [formGroup]="filterForm" *ngIf="mFormaEstado != enCRUD.Crear && mFormaEstado != enCRUD.Actualizar && mFormaEstado !=
                  enCRUD.Leer"
            class="d-flex align-items-center">

            <div class="w-25 mr-2">
                <button (click)="nuevo()" class="btn btn-success btn-block" ngbTooltip="Nuevo" placement="top">
                  Nuevo <i class="fa fa-plus"></i>
                </button>
              </div>
              <div class="w-50">
                <input class="form-control ng-untouched ng-pristine ng-valid" formControlName="filter" placeholder="Buscar por título o descripción"
                  type="text" />
              </div>
              <div class="w-25 ml-2">
                <button class="btn btn-success btn-block" type="button" (click)="filter()" [disabled]="mLoading" ngbTooltip="Buscar" placement="top">
                  Buscar  <i class="fa fa-search"></i>
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- listado de Sucursales -->
  <div *ngIf="mFormaEstado == enCRUD.Eliminar">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">

              <th>Nombre</th>
              <th>Número de Contacto</th>
              <th>Email</th>
              <th>Dirección</th>
              <th>Acción</th>
              <!--   <th></th> -->
            </thead>
            <tbody>
              <tr *ngFor="let sucursal of sucursalList| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td>{{sucursal.nombreSucursal}}</td>
                <td>{{sucursal.telefonoSucursal}}</td>
                <td>{{sucursal.emailSucursal}}</td>
                <td>{{sucursal.direccionSucursal}}</td>
                <td class="float-right">
                  <!--
                  <button (click)="ver(sucursal)" type="button" class="btn mr-2 btn-info">
                    <i class="far fa-eye"></i>
                  </button>
                  -->
                  <button (click)="modificar(sucursal)" type="button" class="btn mr-2 btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button (click)="eliminar(sucursal.idSucursal)" type="button" class="btn mr-2 btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
                <!--  <td class="text-right">
                <button (click)="modificar(sucursal)" type="button" class="btn btn-primary">
                  <i class="fa fa-pencil"></i>
                </button>
                <button (click)="eliminar(sucursal)" type="button" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td> -->

              </tr>
            </tbody>
          </table>
          <div class="w-100">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
          <div *ngIf="(sucursalList | keys).length === 0 && !mLoading" class="alert alert-info" role="alert">
            <strong>No existen</strong> Sucursales que mostrar...
          </div>
          <div *ngIf="mLoading" class="alert alert-warning" role="alert">
            <strong>Cargando</strong> por favor espere...
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--FINAL LISTA-->
  <!--Formulario de CREAR Y ACTUALIZAR -->

  <div *ngIf="mFormaEstado == enCRUD.Crear ||  mFormaEstado == enCRUD.Actualizar" class="row animated fadeIn fast">
    <div class="col-md-12">
      <form [formGroup]="myForm">
        <div class="row m-2">
            <!-- BOTONES CABECERA-->
            <div class="col-md-12">
              <div class="pull-right">
              <button (click)="mFormaEstado = enCRUD.Eliminar" type="button" class="btn btn-primary m-2">
                <i class="fa fa-backward"></i>
                Regresar
              </button>
              <!--
        <button (click)="nuevo()" *ngIf="mFormaEstado == enCRUD.Actualizar" style="margin: 5px"
          class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Nuevo
        </button>
        -->
              <button *ngIf="mFormaEstado == enCRUD.Crear" (click)="guardar()" [disabled]="!myForm.valid || progressBar"
                style="" class="btn btn-primary m-2">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              <button *ngIf="mFormaEstado == enCRUD.Actualizar" (click)="actualizar(sucursalSelected.idSucursal)"
                [disabled]="!myForm.valid || progressBar" style="" class="btn btn-primary m-2">
                <i class="fa fa-save"></i>
                Modificar
              </button>
            </div>
            </div>
            <!--FIN BOTONES CABECERA-->

        </div>
        <div class="row" *ngIf="progressBar">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <!--INPUTS-->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Nombre de la Sucursal <span style="color:red;font-weight:bold;">*</span></label>
              <input type="input" formControlName="nombreSucursal" class="form-control">
            </div>
            <div *ngIf="myForm.controls['nombreSucursal'].errors && !myForm.controls['nombreSucursal'].pristine"
              class="alert alert-danger">
              <span *ngIf="myForm.controls['nombreSucursal'].errors.required"> El Nombre de la Sucursal
                no
                puede estar vacío. <br></span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="">Número de Contacto <span style="color:red;font-weight:bold;">*</span></label>
              <input type="input" formControlName="telefonoSucursal" class="form-control">
            </div>
            <div *ngIf="myForm.controls['telefonoSucursal'].errors && !myForm.controls['telefonoSucursal'].pristine"
              class="alert alert-danger">
              <span *ngIf="myForm.controls['telefonoSucursal'].errors.required"> El Número de Contacto no
                puede estar vacío. <br></span>
              <span *ngIf="myForm.controls['telefonoSucursal'].errors.pattern"> El Número de Contacto debe ser sólo
                números.<br></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Correo <span style="color:red;font-weight:bold;">*</span></label>
              <input type="input" formControlName="emailSucursal" class="form-control">
            </div>
            <div *ngIf="myForm.controls['emailSucursal'].errors && !myForm.controls['emailSucursal'].pristine"
              class="alert alert-danger">
              <span *ngIf="myForm.controls['emailSucursal'].errors.required"> El Correo no
                puede estar vacío. <br></span>
              <span *ngIf="myForm.controls['emailSucursal'].errors.pattern"> El formato
                del
                Correo es incorrecto.<br></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Dirección <span style="color:red;font-weight:bold;">*</span></label>
              <textarea formControlName="direccionSucursal" class="form-control"></textarea>
            </div>
            <div *ngIf="myForm.controls['direccionSucursal'].errors && !myForm.controls['direccionSucursal'].pristine"
              class="alert alert-danger">
              <span *ngIf="myForm.controls['direccionSucursal'].errors.required"> La Dirección de la Sucursal
                no
                puede estar vacía. <br></span>
            </div>
          </div>
        </div>




        <!--
        <div
          *ngIf="mForma.controls['name'].errors?.password"
          class="alert alert-danger"
          role="alert"
        >
          email es requerido
        </div>-->
      </form>
    </div>
  </div>

  <div *ngIf="mFormaEstado == enCRUD.Leer" class="row animated fadeIn fast">
    <div class="col-md-12">
      <form>
        <div class="form-group text-right">
          <button (click)="mFormaEstado = enCRUD.Eliminar" type="button" class="btn btn-primary">
            <i class="fa fa-backward"></i>
            Regresar
          </button>
        </div>
        <div class="form-group">
          <label for="">Nombre</label>
          <input class="form-control" type="text" [value]="sucursalSelected.nombreSucursal"
            name="sucursalSelected.nombreSucursal" readonly />
        </div>
        <div class="form-group">
          <label for="">Telefono</label>
          <input class="form-control" type="text" [value]="sucursalSelected.nombreSucursal"
            name="sucursalSelected.nombreSucursal" readonly />
        </div>

        <div class="form-group">
          <label for="">Email</label>
          <input class="form-control" type="text" [value]="sucursalSelected.emailSucursal"
            name="sucursalSelected.emailSucursal" readonly />
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <textarea class="form-control" type="text" [value]="sucursalSelected.direccionSucursal"
            name="sucursalSelected.direccionSucursal" readonly></textarea>
        </div>
      </form>
    </div>
  </div>
</div>