<!-- HEADER-->
<header class="main-header" id="header"> 
  <ul class="navigation-responsive pt-3 d-block d-md-none" [ngClass]="status ? 'active' : 'hide'" id="navigation-responsive">
      <li class="nav-item">
          <a href="#" class="link-nav">
            <span class="nav-underline">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="link-nav">
            <span class="nav-underline">Nosotros</span>
          </a>
        </li>
        <li class="nav-item">
            <a href="#" class="link-nav">
              <span class="nav-underline">Oportunidades</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="link-nav">
              <span class="nav-underline">Sucursales</span>
            </a>
          </li>
  </ul>    
  <a (click)="clickEvent()" [ngClass]="status ? 'active' : 'hide'" class="back-link" id="back-link"></a>
<div class="text-white">
    <div class="topbar">
        <div class="container">
            <ul class="navigation d-flex align-items-center"> 
            <li class="nav-item d-none d-md-block ml-lg-none">
              <a href="#" class="link-nav">
                <span class="nav-underline">Home</span>
              </a>
            </li>
            <li class="nav-item d-none d-md-block">
              <a href="#" class="link-nav">
                <span class="nav-underline">Nosotros</span>
              </a>
            </li>
            <li class="nav-item d-none d-md-block ml-lg-none">
                <a href="#" class="link-nav">
                  <span class="nav-underline">Oportunidades</span>
                </a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a href="#" class="link-nav">
                  <span class="nav-underline">Sucursales</span>
                </a>
              </li>
              <li class="nav-item d-none d-md-block">
                  <a (click)="openModal()" class="link-nav">
                    <span class="nav-underline yellow-text" style="cursor: pointer;">Transacción Sin Costo</span>
                  </a>
                </li>
            <li class="nav-item d-none d-md-block ml-auto ml-lg-none">
                <a href="#" class="link-nav py-1">
                 <img src="../../../../assets/images/logo.png" style="width: 320px;" alt="">
                </a>
              </li>
          </ul> 
        </div>               
      </div>
</div>
</header>