<!-- HEADER-->
<header class="main-header" id="header"> 
  <ul class="navigation-responsive p-0 pt-3 d-block d-md-none" [ngClass]="status ? 'active' : 'hide'" id="navigation-responsive">
    <li class="nav-item ml-auto ml-lg-none">
      <a routerLink="/" class="link-nav py-1">
       <img src="../../../../assets/images/logo.png" style="width: 100%;" alt="">
      </a>
    </li>
    <div class="dropdown-divider"></div>
    <li class="nav-item">
          <a routerLink="/" class="link-nav text-center" (click)="status = !status">
            <span class="nav-underline text-uppercase">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/nosotros" class="link-nav text-center" (click)="status = !status">
            <span class="nav-underline text-uppercase">Nosotros</span>
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="/oportunidades" class="link-nav text-center" (click)="status = !status">
              <span class="nav-underline text-uppercase">Oportunidades</span>
            </a>
          </li>
          <li ngbDropdown class="nav-item">
              <a [routerLinkActive]="['active-route']" ngbDropdown class="link-nav text-center">
                <span ngbDropdownToggle class="nav-underline  brown-text text-uppercase">
                     Sucursales
                      <div ngbDropdownMenu class="m-0 p-0 brown-text" aria-labelledby="dropdownBasic1">
                        <ng-container *ngFor="let sucursal of mCategoria">
                        <a class="text-uppercase" [routerLinkActive]="'active'" [routerLink]="[baseUrl,sucursal.idSucursal]" ngbDropdownItem>{{sucursal.idSucursal}} {{sucursal.nombreSucursal}}</a>
                        <div class="dropdown-divider m-0 p-0 m-0 p-0"></div>
                      </ng-container>
                      </div>
                  </span>
              </a>
            </li>
              <li>
                  <a (click)="openModal()" (click)="status = !status" class="link-nav text-center">
                    <span class="nav-underline yellow-text text-uppercase" style="cursor: pointer;">Tasaciones</span>
                  </a>
                </li>
                <li>
                  <a (click)="openModalPayment()" (click)="status = !status" class="link-nav text-center">
                    <span class="nav-underline yellow-text text-uppercase" style="cursor: pointer;">Notificar Pago</span>
                  </a>
                </li>
  </ul>    
  <a class="back-link" id="back-link" (click)="status = !status" [ngClass]="status ? 'active' : 'hide'"></a>
<div class="text-white">
    <div class="topbar">
        <div class="container">
            <ul class="navigation d-flex align-items-center"> 
            <li class="nav-item d-none d-md-block ml-lg-none">
              <a [routerLinkActive]="['active-route']" routerLink="/home" class="link-nav">
                <span class="nav-underline text-uppercase">Home</span>
              </a>
            </li>
            <li class="nav-item d-none d-md-block">
              <a [routerLinkActive]="['active-route']" routerLink="/nosotros" class="link-nav">
                <span class="nav-underline text-uppercase">Nosotros</span>
              </a>
            </li>
            <li class="nav-item d-none d-md-block ml-lg-none">
                <a [routerLinkActive]="['active-route']" routerLink="/oportunidades" class="link-nav">
                  <span class="nav-underline text-uppercase">Oportunidades</span>
                </a>
              </li>
              <li ngbDropdown class="nav-item d-none d-md-block">
                <a [routerLinkActive]="['active-route']" ngbDropdown class="link-nav">
                  <span ngbDropdownToggle class="nav-underline  brown-text text-uppercase">
                       Sucursales
                        <div ngbDropdownMenu class="m-0 p-0 brown-text" aria-labelledby="dropdownBasic1">
                          <ng-container *ngFor="let sucursal of mCategoria">
                            <button class="text-uppercase" [routerLinkActive]="'active'" [routerLink]="[baseUrl,sucursal.idSucursal]" ngbDropdownItem>{{sucursal.nombreSucursal}}</button>
                            <div class="dropdown-divider m-0 p-0 m-0 p-0"></div>
                          </ng-container>
                        </div>
                    </span>
                </a>
              </li>
              <li class="nav-item d-none d-md-block ml-lg-none">
                <a (click)="openModal()"  style="cursor: pointer;
    min-width: 200px;
    color: #39211f;
    font-weight: bold;
    font-size: 19px;" class="link-nav">
                  <span class="nav-underline  ">Tasaciones</span>
                </a>
              </li>
              <li class="nav-item d-none d-md-block ml-lg-none">
                <a (click)="openModalPayment()"  style="cursor: pointer;
    min-width: 200px;
    color: #39211f;
    font-weight: bold;
    font-size: 19px;" class="link-nav">
                  <span class="nav-underline">Notificar Pago</span>
                </a>
              </li>
             
             

              
            <li class="nav-item d-none d-md-block ml-auto ml-lg-none">
                <a routerLink="/" class="link-nav py-1">
                 <img src="../../../../assets/images/logo.png" style="width: 320px;" alt="">
                </a>
              </li>
              <a class="navbar-brand" routerLink="/"><img src="../../../../assets/images/logo.png" alt="Dispute Bills" style="width: 150px;"></a>
              <a class="btn ml-auto d-block d-md-none navbar-light btn-default menu-toggle" (click)="status = !status"><span
                class="navbar-toggler-icon"></span></a>
          </ul> 
        </div>               
      </div>
</div>
</header>