<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3 class="py-5 text-center font-weight-bold">Módulos</h3>
        <button
        (click)="nuevo()"
        type="button"
        class="btn btn-primary"
        class="btn btn-success my-4"
        [disabled]="mFormaEstado == enCRUD.Crear ||  mFormaEstado == enCRUD.Actualizar"
      >
        <i class="fa fa-plus"></i>
       Nuevo
       </button>
          </div>
      </div>

    
<div *ngIf="mFormaEstado == enCRUD.Eliminar">
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark ">
              <th class="d-flex justify-content-center">#</th>
              <th>Módulo</th>
              <th>URL</th>
              <th>Descripción</th>
              <th>Icono</th>
              <th></th>
            </thead>
            <tbody>
              <tr
                *ngFor="let modulo of mModulos; let i = index"
                (dblclick)="modificar(modulo)"
              >
              <td  class="d-flex justify-content-center">{{i + 1}}</td>
              <td>{{modulo.modulo}}</td>
              <td>{{modulo.url}}</td>
              <td>{{modulo.descripcion}}</td>
              <td>{{modulo.iconomodulo}}</td>
              <td>
                  <button
                  (click)="ver(modulo)"
                  type="button"
                  class="btn mr-2 btn-info"
                >
                <i class="far fa-eye"></i>    
                          </button>
                <button
                  (click)="modificar(modulo)"
                  type="button"
                  class="btn mr-2 btn-primary"
                >
                <i class="fas fa-pencil-alt"></i>
                </button>
                 <button
                  (click)="eliminar(modulo.idModulo)"
                  type="button"
                  class="btn mr-2 btn-danger"
                >
                  <i class="fa fa-trash"></i>
                </button> 
              </td>
              </tr>
            </tbody>
          </table>
           <div
            *ngIf="(mModulos | keys).length === 0 && !mLoading"
            class="alert alert-info"
            role="alert"
          > 
            <strong>No existen</strong> Módulos que mostrar...
          </div>
          <div *ngIf="mLoading" class="alert alert-warning" role="alert">
            <strong>Cargando</strong> por favor espere...
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="mFormaEstado == enCRUD.Crear ||  mFormaEstado == enCRUD.Actualizar" class="row animated fadeIn fast">
    <div class="col-md-12">
      <form [formGroup]="mForma" #vForma="ngForm">
        <div class="form-group text-right">
          <button
            (click)="mFormaEstado = enCRUD.Eliminar"
            type="button"
            class="btn btn-primary"
          >
            <i class="fa fa-backward"></i>
            Regresar
          </button>
          <!-- <button
            *ngIf="mFormaEstado == enCRUD.Actualizar"
            (click)="actualizar(mCategoriasSelect.idTransacciones)"
            [disabled]="!vForma.valid"
            style="margin: 5px"
            class="btn btn-primary"
          >
            <i class="fa fa-save"></i>
            Modificar
          </button>  -->
        </div>
        <div class="form-group">
          <label for="">Módulo</label>
          <input
            class="form-control"
            type="text"
            formControlName="modulo"
            placeholder="Módulo"
          />
          <div
            *ngIf="mForma.controls['modulo'].errors?.required"
            class="alert alert-danger"
            role="alert"
          >
            Módulo es requerido
          </div>
        </div>
        <div class="form-group">
          <label for="">URL</label>
          <input
            class="form-control"
            type="text"
            formControlName="url"
            placeholder="URL"
          />
          <div
            *ngIf="mForma.controls['url'].errors?.required"
            class="alert alert-danger"
            role="alert"
          >
            URL es requerido
          </div>
        </div>
        <div class="form-group">
          <label for="">Descripción</label>
          <input
          class="form-control"
          type="text"
          formControlName="descripcion"
          placeholder="Descripción"
        />
      <div
        *ngIf="mForma.controls['descripcion'].errors?.required"
        class="alert alert-danger"
        role="alert"
      >
        Descripción es requerido
      </div>
    </div>

        <div class="form-group">
          <label for="">Icono</label>
          <input
            class="form-control"
            type="text"
            formControlName="iconomodulo"
            placeholder="Icono"
          />
          <div
            *ngIf="mForma.controls['iconomodulo'].errors?.required"
            class="alert alert-danger"
            role="alert"
          >
           Icono es requerido
          </div>
        </div>

      </form>
    </div>
  </div>
  
  <div *ngIf="mFormaEstado == enCRUD.Leer" class="row animated fadeIn fast">
      <div class="col-md-12">
        <form>
          <div class="form-group text-right">
            <button
              (click)="mFormaEstado = enCRUD.Eliminar"
              type="button"
              class="btn btn-primary"
            >
              <i class="fa fa-backward"></i>
              Regresar
            </button>
          </div>
          <div class="form-group">
            <label for="">Contacto</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="mCategoriasSelect.nombre_apellido"
              name="mCategoriasSelect.nombre_apellido"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="">Teléfono</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="mCategoriasSelect.telefono"
              name="mCategoriasSelect.telefono"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="">Título</label>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="mCategoriasSelect.titulo"
              name="mCategoriasSelect.titulo"
              readonly
            />
          </div>
  
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea
              class="form-control"
              type="text"
              [(ngModel)]="mCategoriasSelect.descripcion"
              name="mCategoriasSelect.descripcion"
              readonly
            ></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>