<app-header-bottom>
  <div class="title col-md-8 col-lg-6 col-12 ">
    <div class="col-sm-12">
      <h1 class="font-weight-light text-uppercase">Nosotros</h1>
      <hr class="col-2 mx-0 my-1">
    </div>
  </div>
</app-header-bottom>
<app-search>
</app-search>

<div *ngIf="searchClicked">
  <app-articles></app-articles>
</div>

<div *ngIf="!searchClicked">

  <div class="sec2"></div>
  <div class="container-fluid bg-light polygon d-flex align-items-center pl-0">
    <div class="col-md-6 m-0 p-0 pb-4 d-md-block d-none">
      <img src="../../../../assets/images/IMAGEN-NOSOTROS.png" class="img-fluid position-sticky" alt="">
    </div>
    <div class="container col-md-7 col-lg-6 py-5" style="z-index: 3;">
      <div class="col-sm-12">
        <h3 class="font-weight-extrabold brown-text text-center text-md-right text-uppercase">Raices</h3>
      </div>
      <div class="col-sm-12">
          <h3 class="font-weight-light brown-text text-center text-md-right text-uppercase">Propiedades</h3>
      </div>
      <!-- <div ngIf="!mCategoria.configGeneral?.quienesSomos"> -->
      <p class="col-sm-12 text-justify brown-text">
        Somos una Empresa que busca darte todas las soluciones inmobiliarias, tanto para la venta como para el alquiler de tu propiedad.
Nos encargamos de la gestión integral de alquileres y de Administracion de Consorcios, desde la búsqueda del cliente, pagos de tasas y servicios, mantenimiento general de la propiedad y también las gestiones judiciales cuando el caso lo requiera. Contamos con estudio jurídico para las gestiones judiciales de los alquileres.
Buscamos la excelencia en la gestión inmobiliaria, innovando en los procesos y siempre buscando lo mejor para nuestro cliente.
        <!--  <p class="col-sm-12 text-justify brown-text">
          La inmobiliaria ha logrado crecer continuamente, abrir nuevos horizontes y seguir desarrollando nuevos proyectos. Es una de las inmobiliarias en Pilar Norte con más trayectoria profesional. La Empresa actualmente tiene dos sedes, la Casa Central ubicada en la Ciudad de Pilar y la sucursal Open Door, ubicada en el Centro Comercial Open Door, sita en la Av. Cabred N° 589. La empresa desarrolla todo tipo de proyectos tanto comerciales, administrativos, Edificios como así también multifamiliares. En la sede central de Pilar, en los últimos años se ha enfocado en proyectos de Condominios e Edificios, construyendo los siguientes complejos multifamiliares: Edificio Marina I, Condominio Soler I, Condominio Vega I, Condominio Naon, Edificio Caral II. También nos especializamos en la locación de grandes inmuebles comerciales en Pilar Centro, teniendo una marcada presencia en la principal zona comercial de Pilar. 
        </p>
      <p class="col-sm-12 text-justify brown-text">
        La sucursal de Open Door está enfocada principalmente en el desarrollo y venta de campos y chacras de Polo. Actualmente, tienen varias propiedades por la zona, contando con una amplia oferta de propiedades en la Zona.
      </p> -->
        <!--   <p class="col-sm-12 text-justify brown-text">
        La Empresa actualmente tiene dos sedes, la Casa Central ubicada en la Ciudad de Pilar y la sucrusal Open Door, ubicada en el Centro Comercial Open Door, sita en la Av. Cabred N° 589.
        La empresa desarrolla todo tipo de proyectos tanto comerciales, administrativos como así también multifamiliares. En la sede central de Pilar, en los últimos años se ha enfocado en proyectos de Condominios e Edificios, construyendo los siguientes complejos multifamiliares: Edificio Marina I, Condominio Soler I, Condominio Vega I, Condominio Naon, Edificio Caral II. También nos especializamos en la locación de grandes inmuebles comerciales en Pilar Centro, teniendo una marcada presencia en la  principal zona comercial de Pilar.
      </p>
      <p class="col-sm-12 text-justify brown-text">
        La sucursal de Open Door está enfocada principalmente en el desarrollo y venta de campos y chacras de Polo. Cantidad de propiedades: Actualmente, tienen varias propiedades por la zona.
      </p> -->

      <!--<p class="col-sm-12 text-justify brown-text">
        Siempre apostamos al crecimiento de Pilar, es por eso que las grandes firmas nos han elegido. Transcurria el año
        1990 y
        se produjo la apertura de la sucursal Open Door en el centro comercial "Open Door" punto comercial y de
        encuentro
        por
        excelencia de la Localidad
      </p>
      <p class="col-sm-12 text-justify brown-text">
        La oficina esta a cargo de su esposa, señora Adriana L. Bonfanti, quién se ha especializado a lo largo de los años de
        la
        comercialización
        y desarrollo de las Charas de Polo en la zona, afincándose y sumando a su cartera de clientes a los más
        renombrados Polistas de alto
        Handicap del País
      </p>-->
      <!-- </div> -->
      <!-- <div ngIf="mCategoria.configGeneral?.quienesSomos">
                <p class="col-sm-12 text-center text-md-right brown-text">{mCategoria.configGeneral?.quienesSomos}</p>
              </div> -->
    </div>
  </div>

  <div class="row sec2" style="background: #f8f9fa;">
    <div class="container col-md-12 col-lg-12" style="z-index: 3;">
      <div class="col-sm-12">
        <h3 class="text-center text-uppercase">algunos de <b class="font-weight-extrabold brown-text">NUESTROS CLIENTES</b></h3>
      </div>
      <div class="col-sm-12">
        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
  <div class="sec2"></div>
</div>