<app-header-bottom>
  <div class="container title col-md-4 py-5 ml-5"> 
    <div class="col-sm-12">
      <h1 class="font-weight-light text-uppercase">Nosotros</h1>
      <hr class="col-2 mx-0 my-1">
    </div>
  </div>
</app-header-bottom>
<app-search></app-search>
<div class="sec2"></div>
<div class="container-fluid bg-light polygon d-flex align-items-center pl-0 sec2">
    <div class="col-md-6 m-0 p-0 pb-4 d-md-block d-none">
        <img src="../../../../assets/images/IMAGEN-NOSOTROS.png" class="img-fluid position-sticky" alt="">
  </div>
  <div class="container col-md-7 col-lg-6 py-5" style="z-index: 3;"> 
        <div class="col-sm-12">
            <h3 class="font-weight-light brown-text text-center text-md-right text-uppercase">Raices</h3>
          </div>
          <div class="col-sm-12">
            <h3 class="font-weight-extrabold brown-text text-center text-md-right text-uppercase">Propiedades</h3>
          </div>
        <p class="col-sm-12 text-center text-md-right brown-text">{{mCategoria.configGeneral?.quienesSomos}}</p>
      </div>
</div>