<div class="row">
  <div class="col-12">
    <mat-card class="example-card">
      <mat-progress-bar
        *ngIf="loading"
        class="card-progress-bar"
        mode="indeterminate"
      ></mat-progress-bar>
      <mat-card-content>
        <div class="mb-5">
          <form [formGroup]="filterForm" class="d-flex align-items-center">
            <div class="w-25 mr-2">
              <button
                [routerLink]="['/gestionar-publicaciones/form']"
                class="btn btn-success btn-block"
              >
                Nuevo <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="w-50">
              <input
                class="form-control ng-untouched ng-pristine ng-valid"
                formControlName="search"
                placeholder="Buscar por título, descripción, tipo"
                type="text"
              />
            </div>
            <div class="w-25 ml-2">
              <button
                class="btn btn-success w-50 "
                type="button"
                (click)="filter()"
                ngbTooltip="Buscar"
                placement="top"
                [disabled]="loading"
              >
                <i class="fa fa-search"></i>
              </button>
              <button
                (click)="paperBin()"
                type="button"
                class="btn btn-warning w-50"
                ngbTooltip="Ver papelera"
                placement="top"
                *ngIf="!inPaperBin"
              >
                <i class="fa fa-trash"></i>
              </button>
              <button
                (click)="loadData()"
                type="button"
                class="btn btn-warning w-50"
                ngbTooltip="Atrás"
                placement="top"
                *ngIf="inPaperBin"
              >
                <i class="fa fa-arrow-left"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <th>#</th>
              <th>Título</th>
              <th>Descripción</th>
              <th>Tipo</th>
              <th>Oportunidad</th>
              <th>Novedad</th>
              <th>Estado</th>
              <th>Acción</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td scope="row">{{ item.idPropiedad }}</td>
                <td>{{ item.titulo }}</td>
                <td>{{ item.descipcion }}</td>
                <td>{{ item.tipo_propiedad.descripcion }}</td>
                <td>{{ item.esUnaOportunidad == 1 ? "Si" : "No" }}</td>
                <td>{{ item.esUnaNovedad == 1 ? "Si" : "No" }}</td>
                <td>{{ item.estado_publicacion.descripcion }}</td>
                <td class="float-right">
                  <a href="{{item.UrlPropiedadArgen}}" target="_blank">
                  <button class
                          type="button"
                          class="btn btn-primary"
                          [disabled]="item.estado_publicacion.idEstadoPublicaion == 3 && !item.UrlPropiedadArgen"
                          style="margin-right: 5px;"
                  >
                    <i class="fa fa-link"></i>
                  </button>
                  </a>
                  <button
                    [routerLink]="[
                      '/gestionar-publicaciones/form',
                      item.idPropiedad
                    ]"
                    type="button"
                    class="btn btn-primary"
                    [disabled]="item.estado_publicacion.idEstadoPublicaion == 3"
                    style="margin-right: 5px;"
                  >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button
                    (click)="eliminar(item.idPropiedad)"
                    type="button"
                    class="btn btn-danger"
                    *ngIf="!inPaperBin"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                  <button
                    (click)="eliminarDePapelera(item.idPropiedad)"
                    type="button"
                    class="btn btn-danger"
                    *ngIf="inPaperBin"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="data.length == 0">
                <td colspan="7" class="text-center">
                  <strong>No existen</strong> publicaciones que mostrar...
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
