<div [formGroup]="myForm" class="row" style="padding: 20px;">
    
      <div class="form-group col-12">
            <label for="">¿Quienes Somos?</label>
            <br>
            <textarea name="textarea" rows="10" cols="50" formControlName="quienesSomos">Escribe Quiénes Somos</textarea>
            <small *ngIf="myForm.get('quienesSomos').invalid" >Es requerido</small>
      </div>
      <div class="col-12 mt-4" >
            <label for="">Dirección</label>
            <input type="input" formControlName="direccion" class="form-control" placeholder="Escriba La Dirección">
            <small *ngIf="myForm.get('direccion').invalid" >Es requerido</small>
      </div>
      <div class="col-6 mt-4" >
            <label for="">Celular 1</label>
            <input type="input" formControlName="celular1" class="form-control" placeholder="Escriba El Numero de Celular">
            <small *ngIf="myForm.get('celular1').invalid" >Es requerido</small>
      </div>
      <div class="col-6 mt-4" >
            <label for="">Celular 2</label>
            <input type="input" formControlName="celular2" class="form-control" placeholder="Escriba El Numero de Celular">
            <small *ngIf="myForm.get('celular2').invalid" >Es requerido</small>
      </div>
      <div class="col-6 mt-4" >
            <label for="">Correo</label>
            <input type="input" formControlName="correo" class="form-control" placeholder="Escriba la direccion de correo">
            <small *ngIf="myForm.get('correo').invalid" >Es requerido</small><br>
            <small *ngIf="myForm.get('correo').invalid" >Debe ser correo electronico</small>
      </div>
      <div class="col-6 mt-4" >
            <label for="">Url De Facebook</label>
            <input type="input" formControlName="url_face" class="form-control" placeholder="Escriba La Url De Facebook">
            <small *ngIf="myForm.get('url_face').invalid" >Es requerido</small>
      </div>
      <div class="col-6 mt-4" >
            <label for="">Url De Instagram</label>
            <input type="input" formControlName="url_intagram" class="form-control" placeholder="Escriba La Url De Instagram">
            <small *ngIf="myForm.get('url_intagram').invalid" >Es requerido</small>
      </div>
      <div class="col-6 mt-4" >
            <label for="">Url De Twitter</label>
            <input type="input" formControlName="url_twitter" class="form-control" placeholder="Escriba La Url De Twitter">
            <small *ngIf="myForm.get('url_twitter').invalid" >Es requerido</small>
      </div>
      <div class="card col-lg-6 col-12 mt-4 emails-cont ">
            <div class="card-body" *ngIf="mailList.length">
                        <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th scope="col" width="75%">Email de Recepción</th>
                                        <th scope="col" width="25%"></th>
                                       
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr  *ngFor="let mail of mailList" >
                                    
                                        <td>{{mail.email}}</td>
                                        <td> <button
                                          (click)="eliminar(mail.idMail)"
                                          type="button"
                                          class="btn mr-2 btn-danger"
                                        >
                                          <i class="fa fa-trash"></i>
                                        </button></td>
                                      </tr>
                                      
                                    </tbody>
                                  </table>
              
            </div>
            <div  class="card-body text-center" *ngIf="!mailList.length">
                  <p>No hay emails agregados..</p>
            </div>
            <div class="card-footer text-center">
                  <button class="btn btn-primary mx-auto" (click)="adMails()">Añadir Mail Recepción</button>
            </div>
            <app-mails *ngIf="addMail" (addMail)="addMailEvent($event)" ></app-mails>
      </div>
      <div class="col-12 mt-4 text-center">
        <button class="btn btn-success" (click)="upgradeCondigFooter()">
            Actualizar
        </button>
      </div>
</div>