<app-search>
  <img *ngIf="galeriaHome?.length > 0" src="../../../../assets/images/icons/Recurso 6.svg"
    class="position-absolute d-none d-md-block" style="top: -20%; z-index: 1;" alt="" />
</app-search>

<div *ngIf="searchClicked">
  <app-articles></app-articles>
</div>


<div *ngIf="!searchClicked">

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let image of images">
      <img [src]="image" class="carousel-image" alt="Random slide">
      <div class="carousel-caption">
        <h1 class="font-weight-light text-uppercase text-left">{{gPropiedades.ficha1.descipcion}}</h1>
        <hr class="col-1 mx-0 mt-1 mb-4" style="border-bottom: 2px solid white;">
        <h1 class="font-weight-extrabold text-uppercase text-left">2500$</h1>
        <div class="container d-none d-md-block d-md-flex py-4 justify-content-center galery-image">
          <img *ngIf="gPropiedades.ficha2.imagen1.length > 2" [src]="gPropiedades.ficha2.imagen1" alt="">
          <img *ngIf="gPropiedades.ficha2.imagen2.length > 2" [src]="gPropiedades.ficha2.imagen2" alt="">
          <img *ngIf="gPropiedades.ficha2.imagen3.length > 2" [src]="gPropiedades.ficha2.imagen3" alt="">
          <img *ngIf="gPropiedades.ficha2.imagen4.length > 2" [src]="gPropiedades.ficha2.imagen4" alt="">
          <img *ngIf="gPropiedades.ficha2.imagen5.length > 2" [src]="gPropiedades.ficha2.imagen5" alt="">
          <img *ngIf="gPropiedades.ficha2.imagen6.length > 2" [src]="gPropiedades.ficha2.imagen6" alt="">
          <img *ngIf="gPropiedades.ficha2.imagen7.length > 2" [src]="gPropiedades.ficha2.imagen7" alt="">
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <section>
    <div class="container-fluid sec2 section-container">
      <div class="container" style="z-index: 3;">
        <div class="col-sm-12 ">
          <h3 class="text-center brown-text text-uppercase font-weight-extrabold">Descripción</h3>
          <div class="d-flex justify-content-center">
            <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
              src="../../../../../../assets/images/icons/Recurso 19.svg">
          </div>
          <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">420MT2</h4>
        </div>
        <div class="container d-flex justify-content-center col-lg-8">
          <div class="row">
            <div class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 18.svg" class=""
                  alt="">
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                Casa</h6>
            </div>
            <div class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../../../assets/images/icons/Recurso 8.svg"
                  class="" alt="">
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">Alquiler</h6>
            </div>
            <div class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 20.svg" class=""
                  alt="">
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">5</h6>
            </div>
            <div class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 9.svg" class=""
                  alt="">
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                3</h6>
            </div>
            <div class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 17.svg" class=""
                  alt="">
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">2</h6>
            </div>
            <div class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 21.svg" class=""
                  alt="">
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">10 Años</h6>
            </div>
          </div>
        </div>
        <div class="container py-5">
          <div class="col-lg-12 my-5">
            <h6 class="gray-text col-lg-12 font-weight-bold">Caracteristicas Adicionales</h6>
            <hr class="my-1">
            <div class="container my-3 d-flex justify-content-center">
              <div class=" row d-flex justify-content-center">
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <h6 class="gray-text col-lg-12 font-weight-bold">Cercanias</h6>
            <hr class="my-1">
            <div class="container my-3 d-flex justify-content-center">
              <div class=" row d-flex justify-content-center">
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <h6 class="gray-text col-lg-12 font-weight-bold">Detalles de Interes</h6>
            <hr class="my-1">
            <div class="container my-3 d-flex justify-content-center">
              <div class=" row d-flex justify-content-center">
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
                <li class="my-3 d-flex gray-text font-semibold col-lg-3 text-center"><img
                    src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                    alt="">Detalle traido de la API</li>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5" style="z-index: 3;">
            <h6 class="gray-text font-weight-bold col-lg-12">Descripción Adicional</h6>
            <hr class="my-1">
            <div class="col-lg-12">
              <p class="pt-4 gray-text font-weight-semibold">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptatum doloribus adipisci dolores ipsum, fuga, delectus nobis placeat ab quidem, mollitia enim
                corrupti maxime corporis numquam cum nostrum sapiente et quo!Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Voluptatum doloribus adipisci dolores ipsum, fuga, delectus nobis placeat ab quidem,
                mollitia enim corrupti maxime corporis numquam cum nostrum sapiente et quo!Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Voluptatum doloribus adipisci dolores ipsum, fuga, delectus nobis placeat
                ab
                quidem, mollitia enim corrupti maxime corporis numquam cum nostrum sapiente et quo!Lorem ipsum dolor
                sit,
                amet consectetur adipisicing elit. Voluptatum doloribus adipisci dolores ipsum, fuga, delectus nobis
                placeat ab quidem, mollitia enim corrupti maxime corporis numquam cum nostrum sapiente et quo!Lorem
                ipsum
                dolor sit, amet consectetur adipisicing elit. Voluptatum doloribus adipisci dolores ipsum, fuga,
                delectus
                nobis placeat ab quidem, mollitia enim corrupti maxime corporis numquam cum nostrum sapiente et quo!</p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="container-fluid sec3" style="background: #E6B706; padding-top: 5rem !important;">
      <div class="container  py-5 ">
        <div class="col-sm-12">
          <h3 class="font-weight-extrabold text-center text-white text-uppercase my-3">Contacto</h3>
          <h6 class="font-weight-semibold text-center text-white text-uppercase">horario</h6>
          <h5 class="font-weight-extrabold text-center text-white text-uppercase">08:00 AM - 07:00PM</h5>


        </div>
        <div class="row">
          <div class="col-md-4 flex-column" style="z-index: 2;">
            <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 14.svg" class="img-fluid" alt="">
            </div>
            <h5 class="text-white text-center font-weight-semibold">
              Brandsen 805, C1161 CABA, Argentina</h5>
          </div>
          <div class="col-md-4 flex-column" style="z-index: 2;">
            <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 16.svg" class="img-fluid" alt="">
            </div>
            <h5 class="text-white text-center font-weight-semibold">+51 444222555</h5>
          </div>
          <div class="col-md-4 flex-column" style="z-index: 2;">
            <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 15.svg" class="img-fluid" alt="">
            </div>
            <h5 class="text-white text-center font-weight-semibold">raices@example.org</h5>
          </div>
        </div>
      </div>

    </div>
    <div class="bg-light sec1" style="padding-top: 5rem !important;">
      <div class="container-fluid d-flex align-items-center">
        <div class="container col-lg-4 col-md-6 py-5 ml-lg-5" style="z-index: 4;">
          <div class="col-sm-12">
            <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase mb-3">Dirección</h3>
          </div>
          <p class="col-sm-12 font-weight-semibold text-md-left text-center brown-text">Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Autem aperiam obcaecati quas repellat quisquam consectetur explicabo
            dignissimos.</p>
        </div>
        <div class="col-md-8 d-none d-md-block">
        </div>
      </div>
    </div>

  </section>

</div>