<app-blog-header  *ngFor="let imagen of gArticulo.imagen, last as isLast">
    <header *ngIf="isLast" [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.5)), url(' + imagen.img + ')'}"   class="blog-header blog-header-overlay mb-3 mb-lg-5" id="blog-header"> 
        <ul class="navigation-responsive pt-3 d-block d-md-none"  [ngClass]="status ? 'active' : 'hide'" id="navigation-responsive">
            <li class="nav-item">
                <a href="#" class="link-nav">
                  <span class="nav-underline">Inicio</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="link-nav">
                  <span class="nav-underline">Blog</span>
                </a>
              </li>
        </ul>    
        <a class="back-link"  [ngClass]="status ? 'active' : 'hide'" (click)="status = !status" id="back-link"></a>
      <div class="bg-white-overlay text-white">
          <div class="topbar pt-5">
              <div class="container">
                  <ul class="navigation">
                      <a class="mr-4" href="/">
                        <img src="../assets/img/Iconos-Header/Logo.svg" style="width: 7.5rem;">
                    </a>
                    <a class="mr-4 ml-auto d-block d-md-none" (click)="status = !status" id="btn-menu">
                      <img src="../assets/img/menu/Responsive-menu.svg" style="width: 4rem;">
                  </a>
                  <li class="nav-item d-none d-md-block">
                    <a  routerLink="" class="link-nav">
                      <span class="nav-underline">Inicio</span>
                    </a>
                  </li>        
                   <li class="nav-item d-none d-md-block">
                    <a routerLink="/blog"  class="link-nav">
                      <span class="nav-underline">Blog</span>
                    </a>
                  </li>
                  <li class="nav-item email-number-header d-none d-lg-block ml-auto">
                      <a class="link-nav ">
                        <img src="../assets/img/Iconos-Header/Icono-Email-Header.svg" style="width: 2rem;">
                        <span class="nav-underline ml-2 contact-data">smartdevs@gmail.com</span>
                      </a>
                    </li>
                  <li class="nav-item email-number-header d-none d-lg-block">
                    <a class="link-nav ">
                      <img src="../assets/img/Iconos-Header/Icono-Movil-header.svg" style="width: 2rem; color: #fff;">
                      <span class="nav-underline ml-2 contact-data">+52 099854563</span>
                    </a>
                  </li>
                </ul> 
              </div>               
            </div>
            <div class="row pt-4">
                <div class="container blog-title d-flex align-items-center justify-content-center">
                    <h1 class="mx-2 text-center">{{gArticulo['titulo']}}</h1>
                                  </div>
            </div>
             
    <app-blog-author>
      <h4>Wladimir Hernández</h4>
      <p class="blog-author-date">14 Abril</p>
      </app-blog-author>
      </div>
      </header>
</app-blog-header>
  <app-blog-body><div class="container px-5" [innerHTML]="gArticulo['body']">
  </div> </app-blog-body>
  <app-blog-articles><span>Artículos Relacionados</span></app-blog-articles>
  <app-comments></app-comments>
  <app-footer></app-footer>
