<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images">
    <img [src]="image" class="carousel-image w-100" alt="Random slide" style="max-height: 600px; "
      onerror="this.src='assets/images/no_image_aviable.jpg'" />
    <div class="carousel-caption" style="margin-top: 100px;">
      <h1 class="font-weight-light text-uppercase text-left">
        <!--  gPropiedades.ficha1.descipcion  -->
      </h1>
      <hr class="col-1 mx-0 mt-1 mb-4" style="border-bottom: 2px solid white;" />
      <h1 class="font-weight-extrabold text-uppercase text-left">{{gPropiedades.precio}}$</h1>
      <!-- container d-none d-md-block d-md-flex py-4 justify-content-center -->
      <div class="galery-image">
        <img (click)="open(content);carousel.next(0)" *ngIf="gPropiedades.imagenes.imagen1"
          [src]="gPropiedades.imagenes.imagen1" alt="" />
        <img (click)="open(content);carousel.next(1)" *ngIf="gPropiedades.imagenes.imagen2"
          [src]="gPropiedades.imagenes.imagen2" alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen3" [src]="gPropiedades.imagenes.imagen3"
          alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen4" [src]="gPropiedades.imagenes.imagen4"
          alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen5" [src]="gPropiedades.imagenes.imagen5"
          alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen6" [src]="gPropiedades.imagenes.imagen6"
          alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen7" [src]="gPropiedades.imagenes.imagen7"
          alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen8" [src]="gPropiedades.imagenes.imagen8"
          alt="" />
        <img (click)="open(content)" *ngIf="gPropiedades.imagenes.imagen9" [src]="gPropiedades.imagenes.imagen9"
          alt="" />
      </div>
    </div>
  </ng-template>
</ngb-carousel>
<app-search>
</app-search>

<div *ngIf="searchClicked">
  <app-articles></app-articles>
</div>



<ng-template #content let-modal>
  <button style="    position: absolute;
  z-index: 10;
  background-color: transparent;
  color: #7a0000;
  border: none;
  right: 10px;
    top: 10px;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <ngb-carousel #carousel [showNavigationArrows]="true"  [showNavigationIndicators]="true">

    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen1">
      <div class="picsum-img-wrapper">
        <img style="width:100%" [src]="gPropiedades.imagenes.imagen1" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen2">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen2" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen3">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen3" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen4">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen4" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen5">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen5" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen6">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen6" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen7">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen7" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen8">
      <div class="picsum-img-wrapper"> <img style="width:100%" [src]="gPropiedades.imagenes.imagen8" alt="" />
      </div>
    </ng-template>
    <ng-template ngbSlide *ngIf="gPropiedades.imagenes.imagen9">
      <div class="picsum-img-wrapper"><img style="width:100%" [src]="gPropiedades.imagenes.imagen9" alt="" />
      </div>
    </ng-template>
  </ngb-carousel>

</ng-template>

<div *ngIf="!searchClicked">


  <section *ngIf="gPropiedades">
    <div class="container-fluid sec1 section-container">
      <div class="container" style="z-index: 3;">
        <div class="col-sm-12 ">
          <h3 class="text-center brown-text text-uppercase font-weight-extrabold">
            Descripción
          </h3>
          <div class="row justify-content-center">
            <div *ngIf="gPropiedades.SuperficieConstruible" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieConstruible}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie construible
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieCubierta" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieCubierta}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie cubierta
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieCubiertaCasa" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieCubiertaCasa}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie cubierta de casa
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieDeposito" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieDeposito}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie deposito
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieDescubierta" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieDescubierta}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie descubierta
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieLocal" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieLocal}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie local
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieOficina" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                {{gPropiedades.SuperficieOficina}}
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie oficina
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficiePlanta=='1'" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                Valor unidad
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie planta
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficiePlaya=='1'" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                Valor unidad
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie playa
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieTerreno=='1'" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                Valor unidad
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie terreno
              </h6>
            </div>
            <div *ngIf="gPropiedades.SuperficieTotal=='1'" class="col-md-2">
              <div class="d-flex justify-content-center">
                <img class="img-fluid mt-3" style="width: 3rem; height: 3rem;"
                  src="../../../../../../assets/images/icons/Recurso 19.svg" />
              </div>
              <h4 class="yellow-text text-center font-weight-extrabold text-uppercase mt-3">
                Valor unidad
              </h4>
              <h6 class="text-center font-weight-extrabold text-uppercase mt-3">
                Superficie total
              </h6>
            </div>
          </div>

        </div>
        <div class="justify-content-center col-md-12">
          <div class="row justify-content-center">
            <div *ngIf="gPropiedades.tipo_propiedad" class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 18.svg" class=""
                  alt="" />
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                {{gPropiedades.tipo_propiedad.descripcion}}
              </h6>
            </div>
            <div *ngIf="gPropiedades.tipo_opeacion" class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../../../assets/images/icons/Recurso 8.svg"
                  class="" alt="" />
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                {{gPropiedades.tipo_opeacion.descripcion}}
              </h6>
            </div>
            <div *ngIf="gPropiedades.CantidadDormitorios=='1'" class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 20.svg" class=""
                  alt="" />
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                Valor
              </h6>
            </div>
            <!-- <div *ngIf="gPropiedades.CantidadBanos=='1'" class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 9.svg" class=""
                  alt="" />
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                Valor
              </h6>
            </div> -->
            <div *ngIf="gPropiedades.CantidadCocheras=='1'" class="col-md-2 col-4 flex-column">
              <div class="d-flex justify-content-center mt-4 mb-2">
                <img style="width: 3rem; height: 3rem;" src="../../../../assets/images/icons/Recurso 17.svg" class=""
                  alt="" />
              </div>
              <h6 class="gray-icon-text text-center font-weight-bold">
                Valor
              </h6>
            </div>
          </div>
        </div>
        <div class="container py-5">
          <div class="col-lg-12 my-5">
            <h6 class="gray-text col-lg-12 font-weight-bold">
              Ambientes
            </h6>
            <hr class="my-1" />
            <div class="Ambientescontainer my-3">
              <div class="row d-flex">
                <ng-container *ngFor="let ambiente of vista.ambientes">
                  <li *ngIf="ambiente.selected" class="my-3 d-flex gray-text font-semibold col-lg-3 text-center">
                    <img src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                      alt="" />{{ambiente.label}}
                  </li>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <h6 class="gray-text col-lg-12 font-weight-bold">Instalaciones</h6>
            <hr class="my-1" />
            <div class="Ambientescontainer my-3">
              <div class="row d-flex">
                <ng-container *ngFor="let instalacion of vista.instalaciones">
                  <li *ngIf="instalacion.selected" class="my-3 d-flex gray-text font-semibold col-lg-3 text-center">
                    <img src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                      alt="" />{{instalacion.label}}
                  </li>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5">
            <h6 class="gray-text col-lg-12 font-weight-bold">
              Servicios
            </h6>
            <hr class="my-1" />
            <div class="Ambientescontainer my-3">
              <div class="row d-flex">
                <ng-container *ngFor="let servicio of vista.servicios">
                  <li *ngIf="servicio.selected" class="my-3 d-flex gray-text font-semibold col-lg-3 text-center">
                    <img src="../../../../../assets/images/icons/Recurso 22.svg" class="mr-2 footer-contact-icons"
                      alt="" />{{servicio.label}}
                  </li>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-lg-12 my-5" style="z-index: 3;">
            <h6 class="gray-text font-weight-bold col-lg-12">
              Descripción Adicional
            </h6>
            <hr class="my-1" />
            <div class="col-lg-12" style="white-space: pre-wrap;">
              <pre class="pt-4 gray-text font-weight-semibold" style="
               word-wrap: break-word;
              white-space:pre-wrap;
              font-family: 'Open Sans', sans-serif !important;
              font-size: 100% !important;">{{gPropiedades.descipcion}}
              </pre>
            </div>
          </div>
          <div class="col-sm-12 text-white d-flex justify-content-center py-5">
            <button (click)="contact()" class="btn brown-button btn-lg text-uppercase font-weight-bold">
              Contactar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="contactFormSection" class="container-fluid bg-light sec2 section-component">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="container  py-5 ">
          <div class="col-sm-12 d-flex justify-content-center">
            <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase">Formulario <span
                class="font-weight-extrabold">de
                contacto</span></h3>
          </div>
          <div class="row">
            <div class="col-sm-12 mx-0 px-0 my-4 d-flex justify-content-center">
              <div class="py-5 bg-white contact-container shadow col-lg-5 col-md-6 w-100 d-flex justify-content-center"
                style="z-index: 3;">
                <div class="">
                  <div class="group">
                    <input formControlName="nombre" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="text-uppercase">Su nombre</label>
                    <div *ngIf="f.nombre.errors" type="alert" class="invalid-feedback d-block">
                      <div *ngIf="submitted && f.nombre.errors.required">El Nombre es Requerido</div>
                      <div *ngIf="f.nombre.errors.pattern">Nombre no válido</div>
                      <div *ngIf="f.nombre.errors.pattern">Debe ingresar únicamente caracteres alfabéticos</div>
                      <div *ngIf="f.nombre.errors.minlength">Debe ingresar al menos 6 caracteres alfabéticos</div>
                    </div>
                  </div>
                  <div class="group">
                    <input formControlName="email" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="text-uppercase">Su email</label>
                    <div *ngIf="f.email.errors" type="alert" class="invalid-feedback d-block">
                      <div *ngIf="submitted && f.email.errors.required">Email es Requerido</div>
                      <div *ngIf="f.telefono.errors.pattern">Email no válido.</div>
                    </div>
                  </div>
                  <div class="group">
                    <input formControlName="telefono" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="text-uppercase">Su teléfono</label>
                    <div *ngIf="f.telefono.errors" type="alert" class="invalid-feedback d-block">
                      <div *ngIf="submitted && f.telefono.errors.required">El Teléfono Requerido</div>
                      <div *ngIf="f.telefono.errors.pattern">Número teléfonico no válido.</div>
                    </div>
                  </div>
                  <div class="group">
                    <textarea rows="3" formControlName="mensaje" required></textarea>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="text-uppercase">Mensaje</label>
                    <div *ngIf="f.mensaje.errors" type="alert" class="invalid-feedback d-block">
                      <div *ngIf="submitted && f.mensaje.errors.required">El Mensaje es Requerido</div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-12" style="z-index: 2;">
                              <div class="d-flex justify-content-center">
                                 <button class="btn shadow btn-block brown-button text-uppercase font-weight-bold col-lg-4"
                                 >Enviar
                               </button>
                              </div>
                             </div> -->
              </div>
            </div>
          </div>
          <!--<div *ngIf="mLoading" class="row">
                        <div class="col-lg-12 d-flex justify-content-center my-2">
                          <div class="spinner-border main-spinner m-5" role="status">
                            <span class="sr-only">Enviando...</span>
                          </div>
                        </div>
                      </div>-->
          <div *ngIf="successMensaje || errorMensaje">
            <div style="z-index: 1050" aria-hidden="true" class="modal-backdrop fade show"></div>
            <div role="dialog" tabindex="-1" class="modal fade show d-block" aria-modal="true">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body bg-yellow text-white">
                    <div class="container position-relative font-weight-semibold">
                      <div *ngIf="successMensaje" class="row">
                        <div class="col-lg-12 my-2">
                          <h3 class="text-center mt-3 font-weight-bold">¡Información registrada!</h3>
                          <p class="mb-5 text-center font-weight-bold">Contacto de propiedad creado exitosamente</p>
                          <!-- activeModal.close('Close click')" -->
                          <button (click)="submittedClose();" class="btn brown-button btn-lg mx-auto btn-block col-lg-5"
                            type="button" data-dismiss="modal" aria-label="Close">Cerrar</button>
                        </div>
                      </div>
                      <div *ngIf="errorMensaje" class="row">
                        <div class="col-lg-12 my-2">
                          <h3 class="text-center mt-3 font-weight-bold">Ocurrió un error al enviar la información</h3>
                          <div *ngIf="errorMensaje.error.errors">
                            <ul *ngIf="errorMensaje.error.errors.email" class="p-0">
                              <li class="text-center" *ngFor="let error of errorMensaje.error.errors.email">{{error}}
                              </li>
                            </ul>
                          </div>
                          <p class="mb-5 text-center font-weight-bold">Por favor intente nuevamente</p>
                          <button (click)="volver()"
                            class="btn brown-button btn-lg mx-auto btn-block col-lg-5">Volver</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--<div *ngIf="errorMensaje" class="row">
                    <div class="col-lg-12 my-2">
                      <h3 class="text-center mt-3 font-weight-bold">Ocurrió un error al enviar el mensaje</h3>
                      <p class="mb-5 text-center font-weight-bold">Por favor intete nuevamente</p>
                      <button (click)="reintentar()"  class="btn brown-button btn-lg mx-auto btn-block col-lg-5">Volver</button>
                    </div>
                  </div>-->
        </div>


        <div class="col-sm-12" style="z-index: 2;">
          <div class="d-flex justify-content-center">
            <button class="btn shadow btn-block brown-button text-uppercase font-weight-bold col-lg-4">Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="container-fluid sec3" style="background: #E6B706; padding-top: 5rem !important;">
      <div class="container  py-5 ">
        <div class="col-sm-12">
          <h3 class="font-weight-extrabold text-center text-white text-uppercase my-3">
            Contacto
          </h3>
          <h6 class="font-weight-semibold text-center text-white text-uppercase">
            horario
          </h6>
          <h5 class="font-weight-extrabold text-center text-white text-uppercase">
            Lunes a Viernes de 09:00 a 13:00 y 14:00 a 18:00
            Sábados de 9:00 a 13:00
          </h5>
        </div>
        <div class="row">
          <div class="col-md-4 flex-column" style="z-index: 2;">
            <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 14.svg" class="img-fluid" alt="" />
            </div>
            <h5 class="text-white text-center font-weight-semibold">
              San Martin 376 - Pilar
            </h5>
          </div>
          <div class="col-md-4 flex-column" style="z-index: 2;">
            <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 16.svg" class="img-fluid" alt="" />
            </div>
            <h5 class="text-white text-center font-weight-semibold">
              Fijo :  02304429541 
              <br>
              Celulares:  1151827747 / 1133031181 /  1133031094
            </h5>
          </div>
          <div class="col-md-4 flex-column" style="z-index: 2;">
            <div class="d-flex justify-content-center mt-4 mb-2">
              <img style="width: 6rem;" src="../../../../assets/images/icons/Recurso 15.svg" class="img-fluid" alt="" />
            </div>
            <h5 class="text-white text-center font-weight-semibold">
              info@raicespropiedades.com.ar
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light sec2" style="padding-top: 5rem !important;">
      <div class="container-fluid d-flex align-items-center">
        <div class="container col-lg-4 col-md-6 py-5 ml-lg-5" style="z-index: 4;">
          <div class="col-sm-12">
            <h3 class="font-weight-light text-center text-md-left brown-text text-uppercase mb-3">
              Dirección
            </h3>
          </div>
          <p class="col-sm-12 font-weight-semibold text-md-left text-center brown-text">
            La Empresa actualmente tiene dos sedes, la Casa Central ubicada en la Ciudad de Pilar y la sucrusal Open
            Door, ubicada en el Centro Comercial Open Door, sita en la Av. Cabred N° 589. La empresa desarrolla todo
            tipo de proyectos tanto comerciales, administrativos como así también multifamiliares. En la sede central de
            Pilar, en los últimos años se ha enfocado en proyectos de Condominios y Edificios, construyendo los
            siguientes complejos multifamiliares: Edificio Marina I, Condominio Soler I, Condominio Vega I, Condominio
            Naon, Edificio Caral II. También nos especializamos en la locación de grandes inmuebles comerciales en Pilar
            Centro, teniendo una marcada presencia en la principal zona comercial de Pilar.
          </p>
        </div>
        <div class="col-md-8 d-none d-md-block"></div>
      </div>
    </div>
  </section>
</div>