<section (window:resize)="onResize($event)"
  id="header-bottom"
  class="position-relative header-bottom text-white align-items-center w-100 px-5"
>
  <div class="row align-items-center justify-contend-between h-100">
    <!-- position-relative text-white align-items-center w-100 d-flex justify-contend-between -->
    <div class="title col-md-8 col-lg-6 col-12 ">
      <ng-content select=".title"></ng-content>
    </div>
    <div
      class="col-md-4 col-lg-6 col-12 social-networks justify-content-end d-flex"
    >
      <!-- col-md-4 col-lg-6 col-12 social-networks container d-flex justify-content-end mr-5 -->
      <ul [class]="ulClass">
        <!-- list-group list-group-horizontal [class]="ulClass"-->
        <li *ngIf="config.configGeneral?.url_face" class="facebook m-2">
          <a
            [href]="config.configGeneral?.url_face"
            data-toggle="tooltip"
            target="_blank"
            title="Facebook"
            ><img
              class="social-icon"
              src="../../../../../assets/images/icons/Recurso 5.svg"
          /></a>
        </li>
        <li *ngIf="config.configGeneral?.url_twitter" class="twitter m-2">
          <a
            [href]="config.configGeneral?.url_twitter"
            data-toggle="tooltip"
            target="_blank"
            title="Twitter"
            ><img
              class="social-icon"
              src="../../../../../assets/images/icons/Recurso 4.svg"
          /></a>
        </li>
        <li *ngIf="config.configGeneral?.url_intagram" class="instagram m-2">
          <a
            [href]="config.configGeneral?.url_intagram"
            data-toggle="tooltip"
            target="_blank"
            title="Instagram"
            ><img
              class="social-icon"
              src="../../../../../assets/images/icons/Recurso 3.svg"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</section>
