<section id="header-bottom" class="position-relative header-bottom text-white align-items-center w-100 d-flex justify-contend-between">      
  <ng-content select=".title"></ng-content>
  <div class="container d-flex justify-content-end mr-5 ">
      <ul class="nav flex-column d-none d-md-block">
        <li class="facebook my-2"><a [href]="mCategoria.configGeneral.url_face" data-toggle="tooltip" target="_blank" title="Facebook"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 5.svg"></a></li>
        <li class="twitter my-2"><a [href]="mCategoria.configGeneral.url_twitter" data-toggle="tooltip" target="_blank" title="Twitter"></a><img class="social-icon" src="../../../../../assets/images/icons/Recurso 4.svg"></li>
        <li class="instagram my-2"><a [href]="mCategoria.configGeneral.url_intagram" data-toggle="tooltip" target="_blank" title="Instagram"><img class="social-icon" src="../../../../../assets/images/icons/Recurso 3.svg"></a></li>
    </ul>
  </div>
</section>