<section id="header-bottom" class="position-relative header-bottom text-white align-items-center w-100 d-flex justify-contend-between">      
  <ng-content select=".title"></ng-content>
  <div class="container d-flex justify-content-end mr-5 ">
      <ul class="nav flex-column d-none d-md-block">
          <li class="facebook my-2"><a href="#" data-toggle="tooltip" title="Facebook"><img class="social-icon" src="../../../../assets/images/icons/Recurso 5.svg"></a></li>
          <li class="twitter my-2"><a href="#" data-toggle="tooltip" title="Twitter"></a><img class="social-icon" src="../../../../assets/images/icons/Recurso 4.svg"></li>
          <li class="instagram my-2"><a href="#" data-toggle="tooltip" title="Instagram"><img class="social-icon" src="../../../../assets/images/icons/Recurso 3.svg"></a></li>
          <li class="linkedin my-2"><a href="#" data-toggle="tooltip" title="Youtube"><img class="social-icon" src="../../../../assets/images/icons/Recurso 5.svg" ></a></li>
    </ul>
  </div>
</section>